<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="두산밥캣은 고객에게 최상의 가치를 제공하기 위해 품질력 제고 및 미래기술 경쟁력 확보를 통해 지속 가능한 성장을 추가하고 있습니다.">
  <meta name="keywords" content="비전 : 회사 소개 : 두산밥캣코리아">
  <meta property="og:url" content="https://www.doosan-iv.com/kr/about/vision">
  <meta property="og:title" content="비전 : 회사 소개 : 두산밥캣코리아">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/common/images/sns_img.jpg">
  <meta property="og:description" content="두산밥캣은 고객에게 최상의 가치를 제공하기 위해 품질력 제고 및 미래기술 경쟁력 확보를 통해 지속 가능한 성장을 추가하고 있습니다.">
  <meta property="og:locale" content="ko">
  <title>비전 : 회사 소개 : 두산밥캣코리아</title>

  <link rel="icon" href="/common/images/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/common/css/base.css">
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/common/css/sub.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="/common/js/lenis.min.js"></script>
  <script src="/common/js/scrollreveal.min.js"></script>
  <script src="/common/js/ScrollToPlugin.min.js"></script>
  <script src="/common/js/ScrollTrigger.min.js"></script>
  <script src="/common/js/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
  <script src="/common/js/gsap.min.js"></script>
  <script src="/common/js/product.js"></script>
  <script src="/common/js/sub.js"></script>
  <script src="/common/js/common.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src=https://www.googletagmanager.com/gtag/js?id=G-XDM39WP9N3></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XDM39WP9N3');
</script>

<body>
  <header id="header" class="header" data-header-type="white">
    <div th:replace="layout/fragments.html :: header"></div>
  </header>
  <div class="wrap sub">
    <section class="sec sec-visual vision">
      <div class="bg"></div>
      <div class="inner">
        <div class="flex-box">
          <div class="col sub-link-boxs">
            <ul>
              <li><a href="javascript:"><span class="hide">HOME</span><i class="ico ico-home"></i></a></li>
              <li>회사소개</li>
              <li class="drop">
                비전
                <i class="ico-arrow-drop"></i>
                <ul>
                  <li><a href="/kr/about/vision">비전</a></li>
                  <li><a href="/kr/about/history">연혁</a></li>
                  <li><a href="/kr/about/domestic">전세계 사업장</a></li>
                  <li><a href="/kr/about/ci">브랜드 / CI</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col text-boxs">
            <p class="sbj">VISION</p>
            <h1 class="heading">비전</h1>
          </div>
        </div>
      </div>
    </section>
    <div class="section-group">
      <section class="sec vision-map">
        <div class="bg">
          <img src="/common/images/sub/about/vision-map.png" alt="">
        </div>
        <div class="inner">
          <strong class="title">VISION</strong>
          <h2 class="heading">Be the First Choice for All Groundbreakers</h2>
          <p class="desc">We Empower People to Accomplish More</p>
          <div class="line">
            <span class="percentage"></span>
          </div>
          <p class="sbj">
            <span class="accent-color">두산밥캣</span>은 전 제품군에서 선도적인 입지를 강화하기 위해 최선을 다하고 있습니다. <br class="pc-t"> <br class="mo">
            <span class="accent-color">지속 가능한 성장</span> 달성을 위해 제품 라인업 확대 및 지역 다변화에 집중하고, <br class="pc-t">
            혁신적인 제품과 서비스 제공에도 노력을 기울이고 있습니다
          </p>
        </div>
      </section>
      <section class="sec vision-list">
        <div class="inner">
          <div class="grid-box">
            <article>
              <div class="icon-box">
                <img src="/common/images/sub/about/vision-icon1.png" alt="">
              </div>
              <h3 class="title">
                <span class="accent-color">품질력 제고</span>로 고객 만족도를 <br class="pc">
                극대화하는 두산밥캣
              </h3>
              <p class="desc">
                두산밥캣은 고객에게 최상의 가치를 제공하기 위해
                품질력 제고를 최우선 과제로 삼고 있습니다.
                우리는 지속적인 혁신과 엄격한 품질 관리 절차를 통해
                탁월한 품질의 제품과 서비스를 제공하고 있습니다.
              </p>
            </article>
            <article>
              <div class="icon-box">
                <img src="/common/images/sub/about/vision-icon2.png" alt="">
              </div>
              <h3 class="title">
                <span class="accent-color">미래기술 경쟁력 확보</span>로<br class="pc">
                앞서가는 두산밥캣
              </h3>
              <p class="desc">
                두산밥캣은 기술의 혁신이 곧 미래의 경쟁력임을
                깊이 인식하고 있습니다.
                우리는 변화하는 기술 환경 속에서
                지속 가능한 성장을 위해 선도적인 기술을 적용하고
                새로운 제품과 서비스, 가능성을 발굴함으로써
                끊임없이 앞으로 나아가고 있습니다.
              </p>
            </article>
            <article>
              <div class="icon-box">
                <img src="/common/images/sub/about/vision-icon3.png" alt="">
              </div>
              <h3 class="title">
                <span class="accent-color">수익성 확보</span>로 지속 가능한<br class="pc">
                성장을 이루는 두산밥캣
              </h3>
              <p class="desc">
                두산밥캣은 안정적이고 지속 가능한 성장을 위해 수익성 확보를 핵심 전략으로 삼고 있습니다.
                불필요한 비용을 절감하여 운영 효율성을 높이고
                지속적인 원가 혁신을 통해 제품 가격 경쟁력을 확보함으로써 사업의 지속적인 성장을 추구하고 있습니다.
              </p>
            </article>
          </div>
        </div>
      </section>
      <section class="sec sec-bottom-banner">
        <div class="grid-box">
          <a href="/kr/purchase/contact" class="col left">
            <div class="text-boxs">
              <h2 class="heading">상담신청</h2>
              <p class="desc">지게차에 대한 자세한 안내를 받아보세요.</p>
            </div>
          </a>
          <a href="/kr/purchase/location" class="col right">
            <div class="text-boxs">
              <h2 class="heading">국내 대리점 찾기</h2>
              <p class="desc">가장 가까운 대리점를 확인해 보세요. </p>
            </div>
          </a>
        </div>
        <!-- <div class="inner">
        </div> -->
      </section>
      <div class="side-btns sub">
        <div class="group">
          <a href="/kr/purchase/contact" class="link-btn white">
            <span class="text">
              <span>상담신청</span>
            </span>
            <span class="ico ico-chat"></span>
          </a>
          <a href="/kr/purchase/location" class="link-btn accent">
            <span class="text">
              <span>대리점 찾기</span>
            </span>
            <span class="ico ico-pin-map"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer" class="footer">
          <div th:replace="layout/fragments.html :: footer"></div>
        </footer>
<script>
  document.addEventListener('DOMContentLoaded', ()=> {
    ScrollReveal().reveal(".sec:not(.sec-visual):not(.sec-bottom-banner):not(.vision-list) .heading", {...fadeUp});
    ScrollReveal().reveal(".sec:not(.sec-visual):not(.sec-bottom-banner):not(.vision-list) .title", {...fadeUp,});
    ScrollReveal().reveal(".sec:not(.sec-visual):not(.sec-bottom-banner):not(.vision-list) .desc", {...fadeUp,});
    ScrollReveal().reveal(".sec:not(.sec-visual):not(.sec-bottom-banner):not(.vision-list) .sbj", {...fadeUp,});
    ScrollReveal().reveal(".vision-list article", {...fadeUp, interval: 200});
  })
</script>

</html>
