<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="최적 설계된 두산밥캣 순정 필터는 고객의 장비 보호 및 시간과 비용을 절감해 줍니다.">
  <meta name="keywords" content="필터 : 부품 : 부품 & 서비스 : 두산밥캣코리아">
  <meta property="og:url" content="https://www.doosan-iv.com/kr/parts-service/parts/filter">
  <meta property="og:title" content="필터 : 부품 : 부품 & 서비스 : 두산밥캣코리아">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/common/images/sns_img.jpg">
  <meta property="og:description" content="최적 설계된 두산밥캣 순정 필터는 고객의 장비 보호 및 시간과 비용을 절감해 줍니다.">
  <meta property="og:locale" content="ko">
  <title>필터 : 부품 : 부품 & 서비스 : 두산밥캣코리아</title>

  <link rel="icon" href="/common/images/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/common/css/base.css">
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/common/css/sub.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="/common/js/lenis.min.js"></script>
  <script src="/common/js/scrollreveal.min.js"></script>
  <script src="/common/js/ScrollToPlugin.min.js"></script>
  <script src="/common/js/ScrollTrigger.min.js"></script>
  <script src="/common/js/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
  <script src="/common/js/gsap.min.js"></script>
  <script src="/common/js/product.js"></script>
  <script src="/common/js/sub.js"></script>
  <script src="/common/js/common.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src=https://www.googletagmanager.com/gtag/js?id=G-XDM39WP9N3></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XDM39WP9N3');
</script>

<body>
  <header id="header" class="header">
    <div th:replace="layout/fragments.html :: header"></div>
  </header>
  <div class="wrap sub nv">
    <section class="sec sec-selector-type2">
      <div class="inner">
        <div class="sub-link-boxs">
          <ul>
            <li><a href="javascript:"><span class="hide">HOME</span><i class="ico ico-home"></i></a></li>
            <li>부품 & 서비스</li>
            <li>부품</li>
            <li class="drop">
              필터
              <i class="ico-arrow-drop"></i>
              <ul>
                <li><a href="/kr/parts-service/parts/genuine">순정부품</a></li>
                <li><a href="/kr/parts-service/parts/tire">타이어</a></li>
                <li><a href="/kr/parts-service/parts/filter">필터</a></li>
                <li><a href="/kr/parts-service/parts/oil">오일 및 윤활유</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="text-boxs">
          <h2 class="heading">필터</h2>
          <p class="text">
            장비의 수명과 성능 관리, 유지 보수 비용 절감을 위해 <br class="pc">
            순정 필터 사용은 매우 중요합니다. <br class="pc"> <br class="mo">
            최적 설계된 <span class="accent-color motion">두산밥캣 순정 필터는 고객의 장비 보호 및 시간과 비용을 절감</span>해 줍니다.
          </p>
        </div>
      </div>
    </section>
    <section class="sec parts-features">
      <div class="inner">
        <h2 class="heading s">두산밥캣 필터 특장점</h2>
        <div class="img-box">
          <img src="/common/images/sub/parts-service/parts-filter-thum.png" alt="">
        </div>
      </div>
    </section>
    <section class="sec parts-list">
      <div class="inner">
        <h2 class="heading s">두산밥캣 필터 라인업</h2>
        <div class="grid-box">
          <article>
            <figure>
              <img src="/common/images/sub/parts-service/parts-filter-lineup1.png" alt="">
            </figure>
            <h3 class="sbj">오일 필터</h3>
          </article>
          <article>
            <figure>
              <img src="/common/images/sub/parts-service/parts-filter-lineup2.png" alt="">
            </figure>
            <h3 class="sbj">유압 필터</h3>
          </article>
          <article>
            <figure>
              <img src="/common/images/sub/parts-service/parts-filter-lineup3.png" alt="">
            </figure>
            <h3 class="sbj">에어 필터</h3>
          </article>
          <article>
            <figure>
              <img src="/common/images/sub/parts-service/parts-filter-lineup4.png" alt="">
            </figure>
            <h3 class="sbj">연료 필터</h3>
          </article>
        </div>
      </div>
    </section>
    <section class="sec sec-bottom-banner">
      <div class="grid-box">
        <a href="/kr/purchase/contact" class="col left">
          <div class="text-boxs">
            <h2 class="heading">상담신청</h2>
            <p class="desc">지게차에 대한 자세한 안내를 받아보세요.</p>
          </div>
        </a>
        <a href="/kr/purchase/location" class="col right">
          <div class="text-boxs">
            <h2 class="heading">국내 대리점 찾기</h2>
            <p class="desc">가장 가까운 대리점를 확인해 보세요. </p>
          </div>
        </a>
      </div>
      <!-- <div class="inner">
      </div> -->
    </section>
  </div>
  <footer id="footer" class="footer">
          <div th:replace="layout/fragments.html :: footer"></div>
        </footer>
<script>
  document.addEventListener('DOMContentLoaded', ()=> {
    ScrollReveal().reveal(".sec:not(.sec-bottom-banner) .heading", {...fadeUp});
    ScrollReveal().reveal(".sec:not(.sec-bottom-banner) .text", {...fadeUp, delay: 200});
    ScrollReveal().reveal(".parts-list .grid-box article", {...fadeUp, interval: 200});
    ScrollReveal().reveal(".parts-features img", {...fadeUp, delay: 200});
  })
</script>

</html>
