<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="두산의 입승식 전동지게차 BR18S-9 Series는 에너지 효율이 뛰어난 AC system, 탁월한 조작 편의성, 작은 회전반경과 특유의 안전성으로 물류 현장의 생산성을 한 단계 향상시켜 드립니다.">
  <meta name="keywords" content="입승식 마스트무빙 리치트럭 : 전동 입승식 지게차 : 제품 : 두산밥캣코리아">
  <meta property="og:url" content="https://www.doosan-iv.com/kr/product/stacker/stackermast">
  <meta property="og:title" content="입승식 마스트무빙 리치트럭 : 전동 입승식 지게차 : 제품 : 두산밥캣코리아">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/common/images/sns_img.jpg">
  <meta property="og:description" content="두산의 입승식 전동지게차 BR18S-9 Series는 에너지 효율이 뛰어난 AC system, 탁월한 조작 편의성, 작은 회전반경과 특유의 안전성으로 물류 현장의 생산성을 한 단계 향상시켜 드립니다.">
  <meta property="og:locale" content="ko">
  <title>입승식 마스트무빙 리치트럭 : 전동 입승식 지게차 : 제품 : 두산밥캣코리아</title>

  <link rel="icon" href="/common/images/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/common/css/base.css">
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/common/css/sub.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="/common/js/lenis.min.js"></script>
  <script src="/common/js/scrollreveal.min.js"></script>
  <script src="/common/js/ScrollToPlugin.min.js"></script>
  <script src="/common/js/ScrollTrigger.min.js"></script>
  <script src="/common/js/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
  <script src="/common/js/gsap.min.js"></script>
  <script src="/common/js/product.js"></script>
  <script src="/common/js/sub.js"></script>
  <script src="/common/js/common.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src=https://www.googletagmanager.com/gtag/js?id=G-XDM39WP9N3></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XDM39WP9N3');
</script>

<body>
  <header id="header" class="header">
    <div th:replace="layout/fragments.html :: header"></div>
  </header>
  <div class="wrap sub nv">
    <section class="sec sec-selector">
      <div class="content-top">
        <div class="inner large">
          <div class="flex-box">
            <div class="col sub-link-boxs basic">
              <ul>
                <li><a href="javascript:"><span class="hide">HOME</span><i class="ico ico-home"></i></a></li>
                <li>제품</li>
                <li>전동 입승식 지게차</li>
                <li class="drop">
                  입승식 마스트무빙 리치트럭
                  <i class="ico-arrow-drop"></i>
                  <ul>
                    <li><a href="/kr/product/stacker/stacker15t25">스탠드 업 라이더</a></li>
                    <li><a href="/kr/product/stacker/stackermast">입승식 마스트무빙 리치트럭</a></li>
                    <li><a href="/kr/product/stacker/stackergraph">입승식 팬터그래프 리치트럭</a></li>
                    <li><a href="/kr/product/stacker/stackerreachtruck">좌승식 리치트럭</a></li>
                    <li><a href="/kr/product/stacker/stackerpicker">고양고 오더피커</a></li>
                    <li><a href="/kr/product/stacker">전체보기</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col btns">
              <a href="/common/images/sub/product/stacker/BR13S-9_Brochure.pdf" target="_blank" class="link-btn">
                <span class="text">
                  <span>카탈로그 다운로드</span>
                </span>
                <span class="ico ico-download"></span>
              </a>
              <a href="/common/images/sub/product/stacker/BR13,15,18,20,25S-9_SB2471C03_BK.pdf" target="_blank" class="link-btn">
                <span class="text">
                  <span>메뉴얼 다운로드</span>
                </span>
                <span class="ico ico-download"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec sec-product-view">
      <div class="product-view">
        <div class="content-top">
          <div class="col slide-wrap">
            <div class="product-sw">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/stacker/product-slide-stackermast.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/stacker/product-slide2-stackermast.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/stacker/product-slide3-stackermast.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/stacker/product-slide4-stackermast.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/stacker/product-slide5-stackermast.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/stacker/product-slide6-stackermast.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/stacker/product-slide7-stackermast.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/stacker/product-slide8-stackermast.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/stacker/product-slide9-stackermast.png" alt="">
                  </figure>
                </div>
              </div>
            </div>
            <div class="slide-btns">
              <div class="slide-btn button-prev"><span class="hide">이전으로</span></div>
              <div class="product-sw2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/stacker/product-slide-stackermast.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/stacker/product-slide2-stackermast.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/stacker/product-slide3-stackermast.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/stacker/product-slide4-stackermast.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/stacker/product-slide5-stackermast.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/stacker/product-slide6-stackermast.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/stacker/product-slide7-stackermast.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/stacker/product-slide8-stackermast.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/stacker/product-slide9-stackermast.png" alt="">
                    </figure>
                  </div>
                </div>
              </div>
              <div class="slide-btn button-next"><span class="hide">다음으로</span></div>
            </div>
          </div>
          <div class="col text-wrap">
            <div class="group">
              <div class="text-boxs">
                <h2 class="heading">입승식 마스트무빙 리치트럭</h2>
                <p class="text">BR13S-9, BR15S-9, BR18S-9, BR20-9, BR25S-9</p>
                <p class="desc">
                  두산밥캣의 입승식 전동지게차 BR18S-9 시리즈는 에너지 효율이 뛰어난 <br class="br">
                  AC system, 탁월한 조작 편의성, 작은 회전반경과 특유의 안전성으로
                  물류 현장의 생산성을 한 단계 향상시켜 드립니다.
                </p>
              </div>
              <ul class="list">
                <li>
                  <div class="title">
                    <span class="icon ton"></span>
                    적재 능력 (ton)
                  </div>
                  <div class="value">
                    1.3 - 2.5
                  </div>
                </li>
                <li>
                  <div class="title">
                    <span class="icon ps"></span>
                    배터리전압 (V)
                  </div>
                  <div class="value">
                    48
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="content-body">
          <div class="inner">
            <h2 class="heading">제원</h2>
            <div class="product-table">
              <table>
                <thead>
                  <tr>
                    <th>사양</th>
                    <th>단위</th>
                    <th>BR13S-9</th>
                    <th>BR15S-9</th>
                    <th>BR18S-9</th>
                    <th>BR20S-9</th>
                    <th>BR25S-9</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>동력형식</td>
                    <td></td>
                    <td>AC 전기</td>
                    <td>AC 전기</td>
                    <td>AC 전기</td>
                    <td>AC 전기</td>
                    <td>AC 전기</td>
                  </tr>
                  <tr>
                    <td>작동방식</td>
                    <td></td>
                    <td>입승식</td>
                    <td>입승식</td>
                    <td>입승식</td>
                    <td>입승식</td>
                    <td>입승식</td>
                  </tr>
                  <tr>
                    <td>적재능력</td>
                    <td>kg</td>
                    <td>1,250</td>
                    <td>1,500</td>
                    <td>1,800</td>
                    <td>2,000</td>
                    <td>2,500</td>
                  </tr>
                  <tr>
                    <td>하중중심</td>
                    <td>mm</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                  </tr>
                  <tr>
                    <td>총중량</td>
                    <td>kg</td>
                    <td>2,265</td>
                    <td>2,365</td>
                    <td>2,385</td>
                    <td>2,760</td>
                    <td>2,780</td>
                  </tr>
                  <tr>
                    <td>최대인상 높이</td>
                    <td>mm</td>
                    <td>3,000</td>
                    <td>3,000</td>
                    <td>3,000</td>
                    <td>3,000</td>
                    <td>3,000</td>
                  </tr>
                  <tr>
                    <td>헤드가드 높이</td>
                    <td>mm</td>
                    <td>2,285</td>
                    <td>2,285</td>
                    <td>2,285</td>
                    <td>2,285</td>
                    <td>2,285</td>
                  </tr>
                  <tr>
                    <td>주행속도 (부하)</td>
                    <td>km/h</td>
                    <td>10.5</td>
                    <td>10.5</td>
                    <td>10.5</td>
                    <td>11.5</td>
                    <td>11.5</td>
                  </tr>
                  <tr>
                    <td>주행속도 (무부하)</td>
                    <td>km/h</td>
                    <td>10.5</td>
                    <td>10.5</td>
                    <td>10.5</td>
                    <td>11.5</td>
                    <td>11.5</td>
                  </tr>
                  <tr>
                    <td>등판능력 (부하)</td>
                    <td>% (도)</td>
                    <td>15 (8.5)</td>
                    <td>15 (8.5)</td>
                    <td>15 (8.5)</td>
                    <td>11 (6.3)</td>
                    <td>11 (6.3)</td>
                  </tr>
                  <tr>
                    <td>등판능력 (무부하)</td>
                    <td>% (도)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>배터리 전압</td>
                    <td>V</td>
                    <td>48</td>
                    <td>48</td>
                    <td>48</td>
                    <td>48</td>
                    <td>48</td>
                  </tr>
                  <tr>
                    <td>배터리 용량</td>
                    <td>AH</td>
                    <td>300</td>
                    <td>300</td>
                    <td>300</td>
                    <td>335</td>
                    <td>335</td>
                  </tr>
                  <tr>
                    <td>주행모터 출력 (1시간율)</td>
                    <td>kW</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>5</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>유압모터 출력 <br>(15% Duty)</td>
                    <td>kW</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>14</td>
                    <td>14</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec sec-bottom-banner">
      <div class="grid-box">
        <a href="/kr/purchase/contact" class="col left">
          <div class="text-boxs">
            <h2 class="heading">상담신청</h2>
            <p class="desc">지게차에 대한 자세한 안내를 받아보세요.</p>
          </div>
        </a>
        <a href="/kr/purchase/location" class="col right">
          <div class="text-boxs">
            <h2 class="heading">국내 대리점 찾기</h2>
            <p class="desc">가장 가까운 대리점를 확인해 보세요. </p>
          </div>
        </a>
      </div>
      <!-- <div class="inner">
      </div> -->
    </section>
  </div>
  <footer id="footer" class="footer">
          <div th:replace="layout/fragments.html :: footer"></div>
        </footer>
<script>
</script>

</html>
