<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="인버터 푸시 클램프는 컨테이너 및 화물트럭에 팔레트 없이 화물을 밀어 상차하는 작업을 할 수 있는 작업장치입니다.">
  <meta name="keywords" content="인버터 푸시 클램프 : 푸시 작업장치 : 어태치먼트 : 두산밥캣코리아">
  <meta property="og:url" content="https://www.doosan-iv.com/kr/attachment/push/inverter">
  <meta property="og:title" content="인버터 푸시 클램프 : 푸시 작업장치 : 어태치먼트 : 두산밥캣코리아">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/common/images/sns_img.jpg">
  <meta property="og:description" content="인버터 푸시 클램프는 컨테이너 및 화물트럭에 팔레트 없이 화물을 밀어 상차하는 작업을 할 수 있는 작업장치입니다.">
  <meta property="og:locale" content="ko">
  <title>인버터 푸시 클램프 : 푸시 작업장치 : 어태치먼트 : 두산밥캣코리아</title>

  <link rel="icon" href="/common/images/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/common/css/base.css">
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/common/css/sub.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="/common/js/lenis.min.js"></script>
  <script src="/common/js/scrollreveal.min.js"></script>
  <script src="/common/js/ScrollToPlugin.min.js"></script>
  <script src="/common/js/ScrollTrigger.min.js"></script>
  <script src="/common/js/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
  <script src="/common/js/gsap.min.js"></script>
  <script src="/common/js/product.js"></script>
  <script src="/common/js/sub.js"></script>
  <script src="/common/js/common.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src=https://www.googletagmanager.com/gtag/js?id=G-XDM39WP9N3></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XDM39WP9N3');
</script>

<body>
  <header id="header" class="header">
    <div th:replace="layout/fragments.html :: header"></div>
  </header>
  <div class="wrap sub nv">
    <section class="sec sec-selector">
      <div class="content-top">
        <div class="inner large">
          <div class="flex-box">
            <div class="col sub-link-boxs basic">
              <ul>
                <li><a href="javascript:"><span class="hide">HOME</span><i class="ico ico-home"></i></a></li>
                <li>어태치먼트</li>
                <li>푸시 작업장치</li>
                <li class="drop">
                  인버터 푸시 클램프
                  <i class="ico-arrow-drop"></i>
                  <ul>
                    <li><a href="/kr/attachment/push/pull/common">푸시 풀</a></li>
                    <li><a href="/kr/attachment/push/inverter/common">인버터 푸시 클램프</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col btns">
              <a href="/common/images/sub/attachment/attachment_Brochure.pdf" target="_blank" class="link-btn">
                <span class="text">
                  <span>카탈로그 다운로드</span>
                </span>
                <span class="ico ico-download"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec sec-product-view">
      <div class="product-view">
        <div class="content-top">
          <div class="col slide-wrap">
            <div class="product-sw">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/attachment/push/attachment-slide-inverter.png" alt="">
                  </figure>
                </div>
              </div>
            </div>
            <div class="slide-btns">
              <div class="slide-btn button-prev"><span class="hide">이전으로</span></div>
              <div class="product-sw2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/attachment/push/attachment-slide-inverter.png" alt="">
                    </figure>
                  </div>
                </div>
              </div>
              <div class="slide-btn button-next"><span class="hide">다음으로</span></div>
            </div>
          </div>
          <div class="col text-wrap">
            <div class="group">
              <div class="text-boxs">
                <h2 class="heading">인버터 푸시 클램프</h2>
                <p class="desc">
                  컨테이너 및 화물트럭에 팔레트 없이 화물을 밀어 상차하는 작업을 할 수 있는 작업장치입니다. <br class="pc">
                  제당류나 제분류 등 포대 형태로 된 화물을 팔레트 없이 출하하는 용도로 사용됩니다.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body">
          <div class="inner">
            <h2 class="heading">제원</h2>
            <div class="product-table inverter">
              <table>
                <thead>
                  <tr>
                    <th>3.5/4톤</th>
                    <th>허용하중</th>
                    <th>L.C</th>
                    <th>ARM개폐 범위</th>
                    <th>회전중심 높이</th>
                    <th>고정 ARM크기 (WxLxT)</th>
                    <th colspan="3">CLAMP ARM크기 (WxLxT-간격)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="5" class="bb-0"></td>
                    <td>kg</td>
                    <td>mm</td>
                    <td>mm</td>
                    <td>mm</td>
                    <td>mm</td>
                    <td colspan="3">mm</td>
                  </tr>
                  <tr>
                    <td>1710/2030</td>
                    <td>600</td>
                    <td>890-1510</td>
                    <td>376</td>
                    <td>100x1220x45</td>
                    <td colspan="3">1067x1220x50-750</td>
                  </tr>
                  <tr>
                    <td colspan="3">PUSH판 크기 (WxL-행정)</td>
                    <td colspan="2">측면 지지판 크기 (WxL-행정)</td>
                    <td>회전속도</td>
                    <td>쉬프트량</td>
                    <td>무게</td>
                  </tr>
                  <tr>
                    <td colspan="3">mm</td>
                    <td colspan="2">mm</td>
                    <td>RPM</td>
                    <td>mm</td>
                    <td>kg</td>
                  </tr>
                  <tr>
                    <td colspan="3">1060x790-1270</td>
                    <td colspan="2">100x1220x40-200</td>
                    <td>3.5</td>
                    <td>100</td>
                    <td>1500</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec sec-bottom-banner">
      <div class="grid-box">
        <a href="/kr/purchase/contact" class="col left">
          <div class="text-boxs">
            <h2 class="heading">상담신청</h2>
            <p class="desc">지게차에 대한 자세한 안내를 받아보세요.</p>
          </div>
        </a>
        <a href="/kr/purchase/location" class="col right">
          <div class="text-boxs">
            <h2 class="heading">국내 대리점 찾기</h2>
            <p class="desc">가장 가까운 대리점를 확인해 보세요. </p>
          </div>
        </a>
      </div>
      <!-- <div class="inner">
      </div> -->
    </section>
  </div>
  <footer id="footer" class="footer">
          <div th:replace="layout/fragments.html :: footer"></div>
        </footer>
<script>
</script>

</html>
