<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="푸시 풀은 넓은 플레이트형 포크 위에 시트형 팔레트 위에 적치된 화물을 끌어 들이거나 밀어내는 작업을 할 수 있게 하는 작업장치입니다.">
  <meta name="keywords" content="푸시 풀 : 푸시 작업장치 : 어태치먼트 : 두산밥캣코리아">
  <meta property="og:url" content="https://www.doosan-iv.com/kr/attachment/push/pull">
  <meta property="og:title" content="푸시 풀 : 푸시 작업장치 : 어태치먼트 : 두산밥캣코리아">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/common/images/sns_img.jpg">
  <meta property="og:description" content="푸시 풀은 넓은 플레이트형 포크 위에 시트형 팔레트 위에 적치된 화물을 끌어 들이거나 밀어내는 작업을 할 수 있게 하는 작업장치입니다.">
  <meta property="og:locale" content="ko">
  <title>푸시 풀 : 푸시 작업장치 : 어태치먼트 : 두산밥캣코리아</title>

  <link rel="icon" href="/common/images/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/common/css/base.css">
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/common/css/sub.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="/common/js/lenis.min.js"></script>
  <script src="/common/js/scrollreveal.min.js"></script>
  <script src="/common/js/ScrollToPlugin.min.js"></script>
  <script src="/common/js/ScrollTrigger.min.js"></script>
  <script src="/common/js/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
  <script src="/common/js/gsap.min.js"></script>
  <script src="/common/js/product.js"></script>
  <script src="/common/js/sub.js"></script>
  <script src="/common/js/common.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src=https://www.googletagmanager.com/gtag/js?id=G-XDM39WP9N3></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XDM39WP9N3');
</script>

<body>
  <header id="header" class="header">
    <div th:replace="layout/fragments.html :: header"></div>
  </header>
  <div class="wrap sub nv">
    <section class="sec sec-selector">
      <div class="content-top">
        <div class="inner large">
          <div class="flex-box">
            <div class="col sub-link-boxs basic">
              <ul>
                <li><a href="javascript:"><span class="hide">HOME</span><i class="ico ico-home"></i></a></li>
                <li>어태치먼트</li>
                <li>푸시 작업장치</li>
                <li class="drop">
                  푸시 풀
                  <i class="ico-arrow-drop"></i>
                  <ul>
                    <li><a href="/kr/attachment/push/pull/common">푸시 풀</a></li>
                    <li><a href="/kr/attachment/push/inverter/common">인버터 푸시 클램프</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col btns">
              <a href="/common/images/sub/attachment/attachment_Brochure.pdf" target="_blank" class="link-btn">
                <span class="text">
                  <span>카탈로그 다운로드</span>
                </span>
                <span class="ico ico-download"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec sec-product-view">
      <div class="product-view">
        <div class="content-top">
          <div class="col slide-wrap">
            <div class="product-sw">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/attachment/push/attachment-slide-pull.png" alt="">
                  </figure>
                </div>
              </div>
            </div>
            <div class="slide-btns">
              <div class="slide-btn button-prev"><span class="hide">이전으로</span></div>
              <div class="product-sw2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/attachment/push/attachment-slide-pull.png" alt="">
                    </figure>
                  </div>
                </div>
              </div>
              <div class="slide-btn button-next"><span class="hide">다음으로</span></div>
            </div>
          </div>
          <div class="col text-wrap">
            <div class="group">
              <div class="text-boxs">
                <h2 class="heading">푸시 풀</h2>
                <p class="desc">
                  넓은 플레이트형 포크 위에 시트형 팔레트 위에 적치된 화물을 끌어 들이거나 밀어내는 작업을 할 수 있게 하는 작업장치입니다. <br class="pc">
                  용도에 따라 일반 포크 겸용형과 전용형이 있습니다.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body">
          <div class="inner">
            <h2 class="heading">제원</h2>
            <div class="product-table">
              <table>
                <thead>
                  <tr>
                    <th>구분</th>
                    <th>단위</th>
                    <th>1.5/1.8/2톤</th>
                    <th>B16/18/20X</th>
                    <th>2/2.5톤</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>허용하중</td>
                    <td>kg</td>
                    <td>985/1195</td>
                    <td>1070/1235/1405</td>
                    <td>1400/1830</td>
                  </tr>
                  <tr>
                    <td>FORK 크기 (TxWxL)</td>
                    <td>mm</td>
                    <td>25x457x1220</td>
                    <td>25x457x1220</td>
                    <td>25x457x1220</td>
                  </tr>
                  <tr>
                    <td>FORK판 개폐범위</td>
                    <td>mm</td>
                    <td>1016-1220</td>
                    <td>1016-1220</td>
                    <td>1016-1220</td>
                  </tr>
                  <tr>
                    <td>PUSH판 크기 (WxL-행정)</td>
                    <td>mm</td>
                    <td>1016x996-1270</td>
                    <td>1016x996-1270</td>
                    <td>1016x996-1270</td>
                  </tr>
                  <tr>
                    <td>쉬프트량</td>
                    <td>mm</td>
                    <td>102</td>
                    <td>102</td>
                    <td>102</td>
                  </tr>
                  <tr>
                    <td>무게</td>
                    <td>kg</td>
                    <td>500</td>
                    <td>500</td>
                    <td>515</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec sec-bottom-banner">
      <div class="grid-box">
        <a href="/kr/purchase/contact" class="col left">
          <div class="text-boxs">
            <h2 class="heading">상담신청</h2>
            <p class="desc">지게차에 대한 자세한 안내를 받아보세요.</p>
          </div>
        </a>
        <a href="/kr/purchase/location" class="col right">
          <div class="text-boxs">
            <h2 class="heading">국내 대리점 찾기</h2>
            <p class="desc">가장 가까운 대리점를 확인해 보세요. </p>
          </div>
        </a>
      </div>
      <!-- <div class="inner">
      </div> -->
    </section>
  </div>
  <footer id="footer" class="footer">
          <div th:replace="layout/fragments.html :: footer"></div>
        </footer>
<script>
</script>

</html>
