<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="두산의 초대형 지게차는 시장에서 널리 검증된 강력한 엔진 출력과 뛰어난 작업성능과 내구성. 탁트인 시야와 편안한 운전석은 장시간 작업에도 피로하지 않습니다. 프리미엄 초대형 지게차의 차별화된 성능을 경험하십시오.">
  <meta name="keywords" content="18t - 30t  : 디젤 지게차 : 제품 : 두산밥캣코리아">
  <meta property="og:url" content="https://www.doosan-iv.com/kr/product/diesel/diesel18t30t">
  <meta property="og:title" content="18t - 30t  : 디젤 지게차 : 제품 : 두산밥캣코리아">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/common/images/sns_img.jpg">
  <meta property="og:description" content="두산의 초대형 지게차는 시장에서 널리 검증된 강력한 엔진 출력과 뛰어난 작업성능과 내구성. 탁트인 시야와 편안한 운전석은 장시간 작업에도 피로하지 않습니다. 프리미엄 초대형 지게차의 차별화된 성능을 경험하십시오.">
  <meta property="og:locale" content="ko">
  <title>10t - 18t  : 디젤 지게차 : 제품 : 두산밥캣코리아</title>

  <link rel="icon" href="/common/images/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/common/css/base.css">
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/common/css/sub.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="/common/js/lenis.min.js"></script>
  <script src="/common/js/scrollreveal.min.js"></script>
  <script src="/common/js/ScrollToPlugin.min.js"></script>
  <script src="/common/js/ScrollTrigger.min.js"></script>
  <script src="/common/js/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
  <script src="/common/js/gsap.min.js"></script>
  <script src="/common/js/product.js"></script>
  <script src="/common/js/sub.js"></script>
  <script src="/common/js/common.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src=https://www.googletagmanager.com/gtag/js?id=G-XDM39WP9N3></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XDM39WP9N3');
</script>

<body>
  <header id="header" class="header">
    <div th:replace="layout/fragments.html :: header"></div>
  </header>
  <div class="wrap sub nv">
    <section class="sec sec-selector">
      <div class="content-top">
        <div class="inner large">
          <div class="flex-box">
            <div class="col sub-link-boxs basic">
              <ul>
                <li><a href="javascript:"><span class="hide">HOME</span><i class="ico ico-home"></i></a></li>
                <li>제품</li>
                <li>디젤 지게차</li>
                <li class="drop">
                  18t - 30t
                  <i class="ico-arrow-drop"></i>
                  <ul>
                    <li><a href="/kr/product/diesel/diesel2t33t-premium">2t - 3.3t, 프리미엄</a></li>
                    <li><a href="/kr/product/diesel/diesel2t33t-standard">2t - 3.3t, 표준형</a></li>
                    <li><a href="/kr/product/diesel/diesel35t5t">3.5t - 5t, 경제형</a></li>
                    <li><a href="/kr/product/diesel/diesel5t7t">5t - 7t, 경제형</a></li>
                    <li><a href="/kr/product/diesel/diesel5t8t">5t - 8t </a></li>
                    <li><a href="/kr/product/diesel/diesel10t18t">10t - 18t</a></li>
                    <li><a href="/kr/product/diesel/diesel18t30t">18t - 30t </a></li>
                    <li><a href="/kr/product/diesel/">전체보기</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col btns">
              <a href="/common/images/sub/product/diesel/DV250S-9_Brochure.pdf" target="_blank" class="link-btn">
                <span class="text">
                  <span>카탈로그 다운로드</span>
                </span>
                <span class="ico ico-download"></span>
              </a>
              <a href="/common/images/sub/product/diesel/D100,120,140,160,180S-9, DV180,250,300S-9_SB2512C03_BK.pdf" target="_blank" class="link-btn">
                <span class="text">
                  <span>메뉴얼 다운로드</span>
                </span>
                <span class="ico ico-download"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec sec-product-view">
      <div class="product-view">
        <div class="content-top">
          <div class="col slide-wrap">
            <div class="product-sw">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/diesel/product-slide-18t30t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/diesel/product-slide2-18t30t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/diesel/product-slide3-18t30t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/diesel/product-slide4-18t30t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/diesel/product-slide5-18t30t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/diesel/product-slide6-18t30t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/diesel/product-slide7-18t30t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/diesel/product-slide8-18t30t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/diesel/product-slide9-18t30t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/diesel/product-slide10-18t30t.png" alt="">
                  </figure>
                </div>
              </div>
            </div>
            <div class="slide-btns">
              <div class="slide-btn button-prev"><span class="hide">이전으로</span></div>
              <div class="product-sw2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/diesel/product-slide-18t30t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/diesel/product-slide2-18t30t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/diesel/product-slide3-18t30t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/diesel/product-slide4-18t30t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/diesel/product-slide5-18t30t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/diesel/product-slide6-18t30t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/diesel/product-slide7-18t30t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/diesel/product-slide8-18t30t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/diesel/product-slide9-18t30t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/diesel/product-slide10-18t30t.png" alt="">
                    </figure>
                  </div>
                </div>
              </div>
              <div class="slide-btn button-next"><span class="hide">다음으로</span></div>
            </div>
          </div>
          <div class="col text-wrap">
            <div class="group">
              <div class="text-boxs">
                <h2 class="heading">18t - 30t </h2>
                <p class="text">DV180S-9, DV250S-9, DV300S-9</p>
                <p class="desc">
                  두산밥캣의 초대형 지게차는 시장에서 널리 검증된 강력한 엔진 출력과 뛰어난 작업성능과 내구성,
                  탁 트인 시야와 편안한 운전석은 장시간 작업에도 피로하지 않습니다. <br class="pc">
                  프리미엄 초대형 지게차의 차별화된 성능을 경험하십시오.
                </p>
              </div>
              <ul class="list">
                <li>
                  <div class="title">
                    <span class="icon ton"></span>
                    적재 능력 (ton)
                  </div>
                  <div class="value">
                    18 - 30
                  </div>
                </li>
                <li>
                  <div class="title">
                    <span class="icon ps"></span>
                    정격 출력 (ps/rpm)
                  </div>
                  <div class="value">
                    <p>183.8/2,100 <span>(DV180S-9)</span></p>
                    <p>213.2/2,100</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="content-body">
          <div class="inner">
            <h2 class="heading">제원</h2>
            <div class="product-table">
              <table>
                <thead>
                  <tr>
                    <th>사양	</th>
                    <th>단위	</th>
                    <th>DV180S-9	</th>
                    <th>DV250S-9	</th>
                    <th>DV300S-9</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>동력형식		</td>
                    <td>qwe</td>
                    <td>디젤	</td>
                    <td>디젤	</td>
                    <td>디젤</td>
                  </tr>
                  <tr>
                    <td>작동방식		</td>
                    <td>qwe</td>
                    <td>좌승식	</td>
                    <td>좌승식	</td>
                    <td>좌승식</td>
                  </tr>
                  <tr>
                    <td>적재능력	</td>
                    <td>kg	</td>
                    <td>18,000	</td>
                    <td>25,000	</td>
                    <td>30,000</td>
                  </tr>
                  <tr>
                    <td>하중중심	</td>
                    <td>mm	</td>
                    <td>1,200	</td>
                    <td>1,200	</td>
                    <td>800</td>
                  </tr>
                  <tr>
                    <td>총중량	</td>
                    <td>kg	</td>
                    <td>26,700	</td>
                    <td>39,950	</td>
                    <td>40,850</td>
                  </tr>
                  <tr>
                    <td>최대인상 높이	</td>
                    <td>mm	</td>
                    <td>3,500	</td>
                    <td>4,000	</td>
                    <td>4,000</td>
                  </tr>
                  <tr>
                    <td>헤드가드 높이	</td>
                    <td>mm	</td>
                    <td>2,967	</td>
                    <td>3,319	</td>
                    <td>3,319</td>
                  </tr>
                  <tr>
                    <td>주행속도 (부하)	</td>
                    <td>km/h	</td>
                    <td>15	</td>
                    <td>15	</td>
                    <td>15</td>
                  </tr>
                  <tr>
                    <td>주행속도 (무부하)	</td>
                    <td>km/h	</td>
                    <td>42	</td>
                    <td>40	</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>등판능력 (부하)	</td>
                    <td>% (도)	</td>
                    <td>36.0 (19.8)	</td>
                    <td>33.6 (18.6)	</td>
                    <td>31.5 (17.5) </td>
                  </tr>
                  <tr>
                    <td>등판능력 (무부하)	</td>
                    <td>% (도)	</td>
                    <td>67.0 (33.8)	</td>
                    <td>56.3 (29.4)	</td>
                    <td>55.0 (28.8) </td>
                  </tr>
                  <tr>
                    <td>정격출력	</td>
                    <td>ps/rpm	</td>
                    <td>183.8/2,100	</td>
                    <td>213.2/2,100	</td>
                    <td>213.2/2,100</td>
                  </tr>
                  <tr>
                    <td>최대토크	</td>
                    <td>㎏·m/rpm	</td>
                    <td>118/1,300	</td>
                    <td>126/1,300	</td>
                    <td>126/1,300 </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec sec-bottom-banner">
      <div class="grid-box">
        <a href="/kr/purchase/contact" class="col left">
          <div class="text-boxs">
            <h2 class="heading">상담신청</h2>
            <p class="desc">지게차에 대한 자세한 안내를 받아보세요.</p>
          </div>
        </a>
        <a href="/kr/purchase/location" class="col right">
          <div class="text-boxs">
            <h2 class="heading">국내 대리점 찾기</h2>
            <p class="desc">가장 가까운 대리점를 확인해 보세요. </p>
          </div>
        </a>
      </div>
      <!-- <div class="inner">
      </div> -->
    </section>
  </div>
  <footer id="footer" class="footer">
          <div th:replace="layout/fragments.html :: footer"></div>
        </footer>
<script>
</script>

</html>
