<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>두산밥캣코리아</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/common/css/base.css">
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/common/css/sub.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="/common/js/lenis.min.js"></script>
  <script src="/common/js/scrollreveal.min.js"></script>
  <script src="/common/js/ScrollToPlugin.min.js"></script>
  <script src="/common/js/ScrollTrigger.min.js"></script>
  <script src="/common/js/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
  <script src="/common/js/gsap.min.js"></script>
  <script src="/common/js/product.js"></script>
  <script src="/common/js/sub.js"></script>
  <script src="/common/js/common.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src=https://www.googletagmanager.com/gtag/js?id=G-XDM39WP9N3></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XDM39WP9N3');
</script>

<body>
  <header id="header" class="header">
    <div th:replace="layout/fragments.html :: header"></div>
  </header>
  <div class="wrap sub nv">
    <section class="sec sec-selector-type2">
      <div class="inner">
        <div class="sub-link-boxs">
          <ul>
            <li><a href="javascript:"><span class="hide">HOME</span><i class="ico ico-home"></i></a></li>
            <li>제품</li>
            <li class="drop">
              제품검색
              <!-- <i class="ico-arrow-drop"></i>
              <ul>
                <li><a href="/kr/parts-service/parts/genuine/common">순정부품</a></li>
                <li><a href="/kr/parts-service/parts/tire">타이어</a></li>
                <li><a href="/kr/parts-service/parts/filter/common">필터</a></li>
                <li><a href="/kr/parts-service/parts/oil/common">오일 및 윤활유</a></li>
              </ul> -->
            </li>
          </ul>
        </div>
        <div class="text-boxs">
          <h2 class="heading">제품검색</h2>
        </div>
      </div>
    </section>
    <section class="sec product-search">
      <div class="inner">
        <div class="content-top">
          <div class="filter-search">
            <div class="search-top">
              <div class="guide">
                <span></span>
                맞춤형 검색
              </div>
              <div class="search-wrap">
                <form action="/kr/product/search" id="searchForm" method="get" class="search-form">

                  <input type="hidden" id="model" name="model" value=""/>
                  <input type="hidden" id="powerSystem" name="powerSystem" value=""/>
                  <input type="hidden" id="boardType" name="boardType" value=""/>
                  <input type="hidden" id="loadCapacity" name="loadCapacity" value=""/>

                  <div class="search-box">
                    <input type="text" id="keyword" name="keyword" placeholder="검색어를 입력해주세요" class="search-input" required="">
                    <button type="submit" class="btn-search">
                      <span class="hidden">검색</span>
                    </button>
                  </div>

                </form>
              </div>
            </div>
            <div class="search-body">
              <div class="search-list">
                <div class="search-boxs">
                  <div class="title">차종</div>
                  <!-- [D] active 선택된 버튼 -->
                  <!-- [D] disable 비활성화 -->
                  <div class="search-items">
                    <button type="button" id="forklift" name="forklift">지게차</button>
                    <button type="button" id="small_logistics" name="small_logistics">소형물류장비</button>
                  </div>
                </div>
                <div class="search-boxs">
                  <div class="title">동력방식</div>
                  <div class="search-items">
                    <button type="button" id="diesel" name="diesel" class="disable">디젤</button>
                    <button type="button" id="lpg" name="lpg" class="disable">LPG</button>
                    <button type="button" id="electric" name="electric" class="disable">전동</button>
                  </div>
                </div>
                <div class="search-boxs">
                  <div class="title">탑승형식</div>
                  <div class="search-items">
                    <button type="button" id="left_hand" name="left_hand" class="disable">좌승식</button>
                    <button type="button" id="stand" name="stand" class="disable">입승식</button>
                  </div>
                </div>
                <div class="search-boxs">
                  <div class="title">적재능력</div>
                  <div class="search-items">
                    <button type="button" id="small" name="small" class="disable">소형 (1톤~3톤)</button>
                    <button type="button" id="medium" name="medium" class="disable">중형 (3.5톤~8톤)</button>
                    <button type="button" id="large" name="large" class="disable">대형 (11톤~16톤)</button>
                    <button type="button" id="super_large" name="super_large" class="disable">초대형 (18톤~30톤)</button>
                  </div>
                </div>
              </div>
              <button id="initialize" class="return" type="button">
                <span></span>
                선택 초기화
              </button>
            </div>
          </div>
          <div class="filter-list">
            <div class="total">
              총 <span class="accent-color">3개</span>의 제품이 있습니다.
            </div>
            <div class="list">
              <article>
                <a href="javascript:">
                  <div class="img-box">
                    <figure>
                      <img src="/common/images/sub/product/search-thum1.png" alt="">
                    </figure>
                    <div class="motion">
                      <svg viewBox="0 0 348 350" width="100%" height="100%" preserveAspectRatio="none">
                        <rect x="1.5" y="1.5" width="345" height="347" rx="10" ry="10"
                        fill="transparent" stroke="#0458a9" stroke-width="3"/>
                      </svg>
                    </div>
                  </div>
                  <h3 class="sbj">2t - 3.3t, 프리미엄 디젤 지게차</h3>
                  <div class="link-btn small">
                    <span class="text">
                      <span>자세히 보기</span>
                    </span>
                    <span class="ico ico-arrow-link"></span>
                  </div>
                </a>
              </article>
              <article>
                <a href="javascript:">
                  <div class="img-box">
                    <figure>
                      <img src="/common/images/sub/product/search-thum2.png" alt="">
                    </figure>
                    <div class="motion">
                      <svg viewBox="0 0 348 350" width="100%" height="100%" preserveAspectRatio="none">
                        <rect x="1.5" y="1.5" width="345" height="347" rx="10" ry="10"
                        fill="transparent" stroke="#0458a9" stroke-width="3"/>
                      </svg>
                    </div>
                  </div>
                  <h3 class="sbj">2t - 3.3t, 표준형 디젤 지게차</h3>
                  <div class="link-btn small">
                    <span class="text">
                      <span>자세히 보기</span>
                    </span>
                    <span class="ico ico-arrow-link"></span>
                  </div>
                </a>
              </article>
              <article>
                <a href="javascript:">
                  <div class="img-box">
                    <figure>
                      <img src="/common/images/sub/product/search-thum3.png" alt="">
                    </figure>
                    <div class="motion">
                      <svg viewBox="0 0 348 350" width="100%" height="100%" preserveAspectRatio="none">
                        <rect x="1.5" y="1.5" width="345" height="347" rx="10" ry="10"
                        fill="transparent" stroke="#0458a9" stroke-width="3"/>
                      </svg>
                    </div>
                  </div>
                  <h3 class="sbj">3.5t - 5t, 경제형 디젤 지게차</h3>
                  <div class="link-btn small">
                    <span class="text">
                      <span>자세히 보기</span>
                    </span>
                    <span class="ico ico-arrow-link"></span>
                  </div>
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec sec-bottom-banner">
      <div class="grid-box">
        <a href="/kr/purchase/contact" class="col left">
          <div class="text-boxs">
            <h2 class="heading">상담신청</h2>
            <p class="desc">지게차에 대한 자세한 안내를 받아보세요.</p>
          </div>
        </a>
        <a href="/kr/purchase/location" class="col right">
          <div class="text-boxs">
            <h2 class="heading">국내 대리점 찾기</h2>
            <p class="desc">가장 가까운 대리점를 확인해 보세요. </p>
          </div>
        </a>
      </div>
      <!-- <div class="inner">
      </div> -->
    </section>
  </div>
  <footer id="footer" class="footer">
          <div th:replace="layout/fragments.html :: footer"></div>
        </footer>
<script>
  document.addEventListener('DOMContentLoaded', ()=> {
    ScrollReveal().reveal(".sec:not(.sec-bottom-banner) .heading", {...fadeUp});
    ScrollReveal().reveal(".filter-search", {...fadeUp, delay: 200});
    ScrollReveal().reveal(".product-search", {...fadeUp});
    ScrollReveal().reveal(".filter-list .list article", {...fadeUp, interval: 200, delay: 100});
  })
</script>
<script th:inline="javascript">

  //active 된 class 제거
  function removeIncludedActive(targetElement) {
    if (targetElement.classList.contains('active')) {
      targetElement.classList.remove('active');
    }
  }

  //type 제외하고 active 된 class 제거
  function removeActive(targetElement, type) {
    Array.from(targetElement).forEach((e) => {
      if (e.id !== type) {
        e.classList.remove('active');
      }
    });
  }

  //활성화된 엘리먼트 비활성화
  function addNotIncludedDisabled(targetElement) {
    if (!targetElement.classList.contains('disabled')) {
      targetElement.classList.add('disable');
    }
  }

  //초기화
  function init(targetElement){
    Array.from(targetElement).forEach((e) => {
      e.classList.add('disable')
      e.classList.remove('active')
    });
  }

  //active 가져오기
  function findByActive(targetElement){
    Array.from(targetElement).forEach((e) => {
      return e;
    });
  }

  function formSubmit() {
    Array.from(document.querySelectorAll('.search-list .active')).forEach((e, index) => {
      console.log(index, e);
      if (index === 0) {
        document.querySelector("#model").value = e.id.toUpperCase();
      }
      if (index === 1) {
        document.querySelector("#powerSystem").value = e.id.toUpperCase();
      }
      if (index === 2) {
        document.querySelector("#boardType").value = e.id.toUpperCase();
      }
      if (index === 3) {
        document.querySelector("#loadCapacity").value = e.id.toUpperCase();
      }
    });

    document.querySelector('#searchForm').submit();
  }

  let forkliftElement = document.querySelector("#forklift");
  let small_logisticsElement = document.querySelector("#small_logistics");

  let dieselElement = document.querySelector("#diesel");
  let lpgElement = document.querySelector("#lpg");
  let electricElement = document.querySelector("#electric");

  let left_handElement = document.querySelector("#left_hand");
  let standElement = document.querySelector("#stand");

  let smallElement = document.querySelector("#small");
  let mediumElement = document.querySelector("#medium");
  let largeElement = document.querySelector("#large");
  let super_largeElement = document.querySelector("#super_large");


  document.querySelector('.search-list').addEventListener('click', function (e) {

    const targetElement = e.target;

    //차종
    if (targetElement.matches('#forklift')) {
      forkliftElement.classList.add('active');
      small_logisticsElement.classList.remove('active');

      //동력방식
      dieselElement.classList.remove('disable');
      lpgElement.classList.remove('disable');
      electricElement.classList.remove('disable');

      //2-1 디젤
      dieselElement.addEventListener('click',function(){
        dieselElement.classList.add('active');
        lpgElement.classList.remove('active');
        electricElement.classList.remove('active');

        //탑승형식
        left_handElement.classList.remove('disable');
        if (!standElement.classList.contains('disabled')) {
          standElement.classList.add('disable');
        }

        removeIncludedActive(left_handElement);
        removeIncludedActive(standElement);
        init(document.querySelectorAll('.search-boxs')[3].querySelectorAll('button'));
      });

      //2-2 LPG
      lpgElement.addEventListener('click',function(){
        lpgElement.classList.add('active');
        dieselElement.classList.remove('active');
        electricElement.classList.remove('active');

        //탑승형식
        left_handElement.classList.remove('disable');
        addNotIncludedDisabled(standElement);
        removeIncludedActive(left_handElement);
        removeIncludedActive(standElement);
        init(document.querySelectorAll('.search-boxs')[3].querySelectorAll('button'));
      });

      //2-3 전동
      electricElement.addEventListener('click',function(){
        electricElement.classList.add('active');
        dieselElement.classList.remove('active');
        lpgElement.classList.remove('active');

        //탑승형식
        left_handElement.classList.remove('disable');
        standElement.classList.remove('disable');

        //탑승형식 초기화
        // init(document.querySelectorAll('.search-boxs')[2].querySelectorAll('button'));

        removeIncludedActive(left_handElement);//좌승식 클릭되어있으면 초기화
        removeIncludedActive(standElement);
        init(document.querySelectorAll('.search-boxs')[3].querySelectorAll('button'));//적재능력 초기화
      });

      //3-1 좌승식
      let selectedLoadCapacity = document.querySelectorAll('.search-boxs')[3].getElementsByClassName('active');

      document.querySelector('#left_hand').addEventListener('click',function(){

        let firstSelectedPowerSystem = document.querySelectorAll('.search-boxs')[1].getElementsByClassName('active')[0];
        if (firstSelectedPowerSystem.id === 'diesel') {
          smallElement.classList.remove('disable');
          mediumElement.classList.remove('disable');
          largeElement.classList.remove('disable');
        }
        if (firstSelectedPowerSystem.id === 'lpg') {
          smallElement.classList.remove('disable');
          mediumElement.classList.remove('disable');
        }
        if (firstSelectedPowerSystem.id === 'electric') {
            smallElement.classList.remove('disable');
            mediumElement.classList.remove('disable');
        }

        left_handElement.classList.add('active');
        removeIncludedActive(standElement);
        removeActive(selectedLoadCapacity, '');
      });

      //3-2 입승식
      document.querySelector('#stand').addEventListener('click',function(){
        let powerSelectedElement = document.querySelectorAll('.search-boxs')[1].getElementsByClassName('active')[0];

        if (powerSelectedElement.id === 'electric') {
          smallElement.classList.remove('disable');
        }

        standElement.classList.add('active');
        removeIncludedActive(left_handElement);
        addNotIncludedDisabled(mediumElement);
        removeActive(selectedLoadCapacity, '');
      });

      //4-1 소형
      document.querySelector('#small').addEventListener('click',function(){
        smallElement.classList.add('active');
        removeActive(selectedLoadCapacity, 'small');
        formSubmit();
      });

      //4-2 중형
      document.querySelector('#medium').addEventListener('click',function(){
        mediumElement.classList.add('active');
        removeActive(selectedLoadCapacity, 'medium');
        formSubmit();
      });

      //4-3 대형
      document.querySelector('#large').addEventListener('click',function(){
        largeElement.classList.add('active');
        removeActive(selectedLoadCapacity, 'large');
        formSubmit();
      });

      //4-4 초대형
      document.querySelector('#super_large').addEventListener('click',function(){
        super_largeElement.classList.add('active');
        removeActive(selectedLoadCapacity, 'super_large');
        formSubmit();
      });

      let selected01 = findByActive(document.querySelectorAll('.search-boxs')[0].getElementsByClassName('active'));
      console.log('selected01',selected01);

    }//end #forklift


    //소형물류장비
    if (targetElement.matches('#small_logistics')) {
      small_logisticsElement.classList.add('active');
      forkliftElement.classList.remove('active');

      init(document.querySelectorAll('.search-boxs')[1].querySelectorAll('button'));
      init(document.querySelectorAll('.search-boxs')[2].querySelectorAll('button'));
      init(document.querySelectorAll('.search-boxs')[3].querySelectorAll('button'));

      formSubmit();
    }
  });

  let model = [[${searchDto.model}]];
  let powerSystem = [[${searchDto.powerSystem}]];
  let boardType = [[${searchDto.boardType}]];
  let loadCapacity = [[${searchDto.loadCapacity}]];
  let keyword = [[${searchDto.keyword}]];
  let selectedLoadCapacity = document.querySelectorAll('.search-boxs')[3].getElementsByClassName('active');

  // <input type="hidden" id="model" name="model" value=""/>
  // <input type="hidden" id="powerSystem" name="powerSystem" value=""/>
  // <input type="hidden" id="boardType" name="boardType" value=""/>
  // <input type="hidden" id="loadCapacity" name="loadCapacity" value=""/>

  if (keyword !== '') {
    document.querySelector("#keyword").value = keyword;
  }

  switch (model) {
    case 'FORKLIFT':
      document.querySelector("#forklift").click();
      document.querySelector("#model").value = 'FORKLIFT';
      break;
    case 'SMALL_LOGISTICS':
      small_logisticsElement.classList.add('active');
      forkliftElement.classList.remove('active');
      document.querySelector("#model").value = 'SMALL_LOGISTICS';
      break;
  }

  switch (powerSystem) {
    case 'DIESEL':
      document.querySelector("#diesel").click();
      document.querySelector("#powerSystem").value = 'DIESEL';
      break;
    case 'LPG':
      document.querySelector("#lpg").click();
      document.querySelector("#powerSystem").value = 'LPG';
      break;
    case 'ELECTRIC':
      document.querySelector("#electric").click();
      document.querySelector("#powerSystem").value = 'ELECTRIC';
      break;
  }

  switch (boardType) {
    case 'LEFT_HAND':
      document.querySelector("#left_hand").click();
      document.querySelector("#boardType").value = 'LEFT_HAND';
      break;
    case 'STAND':
      document.querySelector("#stand").click();
      document.querySelector("#boardType").value = 'STAND';
      break;
  }

  switch (loadCapacity) {
    case 'SMALL':
      smallElement.classList.add('active');
      removeActive(selectedLoadCapacity, 'small');
      document.querySelector("#loadCapacity").value = 'SMALL';
      break;
    case 'MEDIUM':
      mediumElement.classList.add('active');
      removeActive(selectedLoadCapacity, 'medium');
      document.querySelector("#loadCapacity").value = 'MEDIUM';
      break;
    case 'LARGE':
      largeElement.classList.add('active');
      removeActive(selectedLoadCapacity, 'large');
      document.querySelector("#loadCapacity").value = 'LARGE';
      break;
  }

  document.querySelector("#initialize").addEventListener('click', function (e) {
    location.href = '/kr/product/search';
  });

</script>

</html>
