<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>두산밥캣코리아</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/common/taglive_css/taglive.v1.8.css" type="text/css" />
  <link rel="stylesheet" href="/common/css/base.css">
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/common/css/sub.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="/common/js/lenis.min.js"></script>
  <script src="/common/js/scrollreveal.min.js"></script>
  <script src="/common/js/ScrollToPlugin.min.js"></script>
  <script src="/common/js/ScrollTrigger.min.js"></script>
  <script src="/common/js/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
  <script src="/common/js/gsap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/common/js/main.js"></script>
  <script src="/common/js/common.js"></script>

  <script type="text/javascript" src="/common/taglive_js/moment.min.js"></script>
  <script type="text/javascript" src="/common/taglive_js/plugin.js"></script>
  <script type="text/javascript" src="/common/taglive_js/proc.v1.8.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src=https://www.googletagmanager.com/gtag/js?id=G-XDM39WP9N3></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XDM39WP9N3');
</script>

<body>
  <header id="header" class="header" data-header-type="white">
    <div th:replace="layout/fragments.html :: header"></div>
  </header>
  <main class="main" id="main-contents">
    <div class="" id="depth-1">
      <div id="depth-1-1" class="section main-visual page-vertical active">
        <div class="content-body">
          <div class="slide-container">
            <div class="slide">
              <div class="bg">
                <video src="/common/images/main/main-visual-video1.mp4" muted></video>
              </div>
              <div class="text-wrap">
                <div class="inner">
                  <h1 class="heading">
                    <span class="text-box part1">
                      <span class="text">BUILT TO LAST</span>
                    </span>
                    <span class="text-box part2">
                      <span class="text">MADE TO PERFORM</span>
                    </span>
                  </h1>
                  <p class="desc">뛰어난 성능과 효율성으로 믿을 수 있는 두산밥캣 지게차를 직접 경험해 보세요.</p>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="bg">
                <video src="/common/images/main/main-visual-video2.mp4" muted></video>
              </div>
              <div class="text-wrap">
                <div class="inner">
                  <h1 class="heading">
                    <span class="text-box part1">
                      <span class="text">RUN YOUR BUSINESS</span>
                    </span>
                    <span class="text-box part2">
                      <span class="text">ON A MUCH HIGHER TIER</span>
                    </span>
                  </h1>
                  <p class="desc">두산밥캣 엔진 지게차의 강력한 파워와 내구성을 경험하세요. <br class="pc"> 우수한 작업 성능으로 현장의 생산성을 한 단계 향상시켜 드립니다.</p>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="bg">
                <video src="/common/images/main/main-visual-video3.mp4" muted></video>
              </div>
              <div class="text-wrap">
                <div class="inner">
                  <h1 class="heading">
                    <span class="text-box part1">
                      <span class="text">REACH FOR</span>
                    </span>
                    <span class="text-box part2">
                      <span class="text">MORE EFFICIENCY</span>
                    </span>
                  </h1>
                  <p class="desc">두산밥캣 전동 지게차는 효율과 생산성, 친환경까지 모두 갖춘 산업현장 최적의 파트너입니다. <br class="pc"> 획기적인 유지보수 비용의 절감을 경험해 보세요.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-foot">
          <div class="inner">
            <ul>
              <li>
                <a href="/kr/product/diesel">
                  <div class="row">
                    <div class="img-box"><img src="/common/images/main/main-visual-icon1.png" alt=""></div>
                    <span class="text">디젤 지게차</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/kr/product/lpg">
                  <div class="row">
                    <div class="img-box"><img src="/common/images/main/main-visual-icon2.png" alt=""></div>
                    <span class="text">LPG 지게차</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/kr/product/electric">
                  <div class="row">
                    <div class="img-box"><img src="/common/images/main/main-visual-icon3.png" alt=""></div>
                    <span class="text">전동 좌승식 지게차</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/kr/product/stacker">
                  <div class="row">
                    <div class="img-box"><img src="/common/images/main/main-visual-icon4.png" alt=""></div>
                    <span class="text">전동 입승식 지게차</span>
                  </div>
                </a>
              </li>
              <li>
                <a href="/kr/product/equipments">
                  <div class="row">
                    <div class="img-box"><img src="/common/images/main/main-visual-icon5.png" alt=""></div>
                    <span class="text">소형 창고 물류장비</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="depth-1-2" class="section main-product page-vertical">
        <div class="inner">
          <div class="content-top">
            <h2 class="heading">믿을 수 있는 국내 1위 브랜드, <span class="mask">두산밥캣</span></h2>
            <!-- <h2 class="heading"> <span class="mask">두산밥캣</span></h2> -->
          </div>
          <div class="content-body">
            <div class="grid-box">
              <article>
                <a href="/kr/product/diesel">
                  <div class="img-box"><img src="/common/images/main/product1-img1.png" alt=""></div>
                  <div class="text-box">
                    <div class="text-top">
                      <span></span>
                      <h3 class="heading">디젤 지게차</h3>
                    </div>
                    <div class="text-bottom">
                      <p class="desc">
                        두산밥캣 디젤 지게차의 <br class="pc">
                        강력한 파워와 내구성을 경험하세요. <br class="pc">
                        탁월한 성능과 운전자 편의성으로 <br class="pc">
                        고객 여러분을 만족시켜 드립니다.</p>
                      <div class="link-btn small">
                        <span class="text">
                          <span>자세히 보기 </span>
                        </span>
                        <span class="ico ico-arrow-link"></span>
                      </div>
                    </div>
                  </div>
                </a>
              </article>
              <article>
                <a href="/kr/product/lpg">
                  <div class="img-box"><img src="/common/images/main/product1-img2.png" alt=""></div>
                  <div class="text-box">
                    <div class="text-top">
                      <span></span>
                      <h3 class="heading">LPG 지게차</h3>
                    </div>
                    <div class="text-bottom">
                      <p class="desc">성능과 친환경을 동시에 만족하는 <br class="pc">두산밥캣 LPG 지게차는 우수한 작업 성능을 발휘하고, 소음과 매연이 적습니다.</p>
                      <div class="link-btn small">
                        <span class="text">
                          <span>자세히 보기 </span>
                        </span>
                        <span class="ico ico-arrow-link"></span>
                      </div>
                    </div>
                  </div>
                </a>
              </article>
              <article>
                <a href="/kr/product/electric">
                  <div class="img-box"><img src="/common/images/main/product1-img3.png" alt=""></div>
                  <div class="text-box">
                  <div class="text-top">
                    <span></span>
                    <h3 class="heading">전동 좌승식 지게차</h3>
                  </div>
                  <div class="text-bottom">
                    <p class="desc">무공해 무소음, 높은 에너지 효율과 <br class="pc-br">뛰어난 작업 성능, 저렴한 유지비의 <br class="pc-br">두산밥캣 전동 좌승식 지게차는 모든 실내외 <br class="pc-br">물류현장의 효율적인 파트너 입니다.</p>
                    <div class="link-btn small">
                      <span class="text">
                        <span>자세히 보기 </span>
                      </span>
                      <span class="ico ico-arrow-link"></span>
                    </div>
                  </div>
                </div>
                </a>
              </article>
              <article>
                <a href="/kr/product/stacker">
                  <div class="img-box"><img src="/common/images/main/product1-img4.png" alt=""></div>
                  <div class="text-box">
                  <div class="text-top">
                    <span></span>
                    <h3 class="heading">전동 입승식 지게차</h3>
                  </div>
                  <div class="text-bottom">
                    <p class="desc">두산밥캣 입승식 지게차는 탁월한 에너지 효율, 편리한 조작과 작은 회전 반경으로 실내 물류 현장의 생산성을 한 단계 향상시켜 드립니다.</p>
                    <div class="link-btn small">
                      <span class="text">
                        <span>자세히 보기 </span>
                      </span>
                      <span class="ico ico-arrow-link"></span>
                    </div>
                  </div>
                </div>
                </a>
              </article>
            </div>
          </div>
          <div class="content-foot">
            <a href="/kr/product/search" class="link-btn">
              <span class="text">
                <span>제품 검색하기</span>
              </span>
              <span class="ico ico-search"></span>
            </a>
          </div>
        </div>
      </div>
      <div id="depth-1-3" class="section main-product page-vertical">
        <div class="inner">
          <div class="content-top">
            <h2 class="heading"><span class="mask">친환경 미래 기술</span>과 함께 앞서가는, 두산밥캣</h2>
          </div>
          <div class="content-body">
            <div class="grid-box v2">
              <article>
                <a href="javascript:">
                  <div class="img-box"><img src="/common/images/main/product2-img1.png" alt=""></div>
                  <div class="text-box">
                  <div class="text-top">
                    <span></span>
                    <h3 class="heading">리튬 인산철 배터리 지게차</h3>
                  </div>
                  <div class="text-bottom">
                    <p class="desc">
                      스마트하고 안전한 리튬 인산철 배터리의 <br class="pc-br">
                      탁월한 성능과 효율성으로 산업 현장의 <br class="pc-br">
                      생산성을 한 단계 향상시켜 드립니다.</p>
                    <div class="link-btn small">
                      <span class="text">
                        <span>자세히 보기 </span>
                      </span>
                      <span class="ico ico-arrow-link"></span>
                    </div>
                  </div>
                </div>
                </a>
              </article>
              <article>
                <a href="javascript:">
                  <div class="img-box"><img src="/common/images/main/product2-img2.png" style="height: 100%" alt="">
                  </div>
                  <div class="text-box">
                  <div class="text-top">
                    <span></span>
                    <h3 class="heading">무인지게차 (AGF)</h3>
                  </div>
                  <div class="text-bottom">
                    <p class="desc">향상된 효율성과 최적화된 프로세스로 <br class="pc-br">이상적인 자동화 물류 솔루션을 제공합니다</p>
                    <div class="link-btn small">
                      <span class="text">
                        <span>자세히 보기 </span>
                      </span>
                      <span class="ico ico-arrow-link"></span>
                    </div>
                  </div>
                </div>
                </a>
              </article>
              <article>
                <a href="javascript:">
                  <div class="img-box"><img src="/common/images/main/product2-img3.png" alt=""></div>
                  <div class="text-box">
                  <div class="text-top">
                    <span></span>
                    <h3 class="heading">수소연료전지 지게차</h3>
                  </div>
                  <div class="text-bottom">
                    <p class="desc">친환경성과 생산성을 모두 갖춘 수소 <br class="pc-br">모빌리티 기술로 한층 진보된 물류 <br class="pc-br">비즈니스 환경을 제공합니다.</p>
                    <div class="link-btn small">
                      <span class="text">
                        <span>자세히 보기 </span>
                      </span>
                      <span class="ico ico-arrow-link"></span>
                    </div>
                  </div>
                </div>
                </a>
              </article>
              <article>
                <a href="javascript:">
                  <div class="img-box"><img src="/common/images/main/product2-img4.png" alt=""></div>
                  <div class="text-box">
                  <div class="text-top">
                    <span></span>
                    <h3 class="heading">Machine IQ</h3>
                  </div>
                  <div class="text-bottom">
                    <p class="desc">비용 절감과 안전을 모두 보장하는 스마트한 차량 통합 관리 시스템 Machine IQ와 함께 <br class="pc-br">더 많은 가능성을 경험해보세요.</p>
                    <div class="link-btn small">
                      <span class="text">
                        <span>자세히 보기 </span>
                      </span>
                      <span class="ico ico-arrow-link"></span>
                    </div>
                  </div>
                </div>
                </a>
              </article>
            </div>
          </div>
          <div class="content-foot">
            <a href="/kr/product/eco/" class="link-btn">
              <span class="text">
                <span>제품 바로가기</span>
              </span>
              <span class="ico ico-arrow-link-big"></span>
            </a>
          </div>
        </div>
      </div>
      <div id="depth-1-4" class="section main-company page-vertical">
        <div class="inner">
          <div class="flex-box">
            <div class="content-top">
              <h2 class="heading">
                산업현장 최고의 파트너 <br>
                두산밥캣
              </h2>
              <p class="text">
                두산밥캣은 국내 최초 지게차를 생산한 선도적 기업으로 <br class="pc">
                다양한 산업 현장에서 고객의 작업을 지원하고 있습니다.
              </p>
            </div>
            <div class="content-body">
              <div class="flex-box">
                <article>
                  <h3 class="title">
                    세계적인 물류장비 브랜드 <br>
                    DOOSAN
                  </h3>
                  <ul>
                    <li><span class="dot white"></span>전 세계 100개국 400여곳의 딜러망</li>
                    <li><span class="dot white"></span>81종 252개 모델의 라인업</li>
                  </ul>
                </article>
                <article>
                  <h3 class="title">국내 최대 서비스 네트워크 및 품질보증</h3>
                  <ul>
                    <li>
                      <span class="dot white"></span>
                      전국 25개의 공식 딜러, 35개 부품대리점, <br>
                      42개의 지정정비공장을 통한 서비스 부품 공급체계
                    </li>
                    <li><span class="dot white"></span>24시간 내 처리가능한 빠르고 편리한 서비스 지원</li>
                    <li><span class="dot white"></span>국내 최장 수준의 품질 보증 기간</li>
                  </ul>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="depth-1-5" class="section main-media page-vertical">
        <div class="inner">
          <h2 class="heading">Social Media</h2>
          <div class="taglive-container" >
          	<div id="cobham"><!-- SNS FEED AREA --></div>
          	<div id="load-feed" class="more-wrap"><i class="tgicon-plus"></i></div>
          </div>
          <!-- Media Item 템플릿 -->
          <div id="fennec-item-template" style="display:none">
          	<div class="fennec-item" feed-no="{{=it.feed_key}}" feed-tag="{{=it.hashtag}}" feed-sns="{{=it.sns}}" feed-carousel="{{=it.carouselext}}">
          		<div class="fennec-media">
          			<div class="social-icons">
          				<img class="snsimg" src="/common/{{=it.sns_csskey_img}}" social-name="{{=it.sns_csskey}}" alt="{{=it.sns_csskey}}">
          			</div>
          			<div class="feed-image {{=it.img_url_hide}}" >
          				<div class="feed-text"><span>{{=it.comment}}</span></div>
          				<img class="mimg" src="{{=it.img_url}}" alt="{{=it.comment}}">
          				<span class="fennec-video-icon"><i class="tgicon-video" ></i></span>
          				<div class="fennec-overlay">
          					<a class="center-icon"><i class="{{=it.mv_icon}}"></i></a>
          				</div>
          			</div>
          			<div class="media-desc fennec-desc">
          				<div class="media-left media-middle">
          					<div class="media-author" style="background:url('{{=it.author_picture}}')"></div>
          				</div>
          				<div class="media-left">
          					<h3>{{=it.feed_title}}</h3>
          				</div>
          			</div>
          		</div>
          	</div>

          </div>
          <!-- 상세 Pop Layer 템플릿 -->
          <div id="fennec-lightbox-template" style="display:none">
          	<div class="tgicon-cross taglive-close"></div>
          	<div class="modal-padding">
          		<div class="social-p-icons"><img src="/common/{{=it.sns_csskey_img}}" social-name="{{=it.sns_csskey}}" alt="{{=it.sns_csskey}}"></div>
          		<div class="row" mv-data="{{=it.mv}}">
          			<div class="col-md-7 fennec-media-wrap" style="position:relative;">
          				<img src="{{=it.img_url}}" class="full-images" alt="{{=it.comment}}">
          			</div>
          			<div class="col-md-5 fennec-desc-wrap">
          				<div class="fennec-desc" >
          					<div class="media-left media-middle">
          						<div class="fennec-author" style="background:url('{{=it.author_picture}}');"></div>
          					</div>
          					<div class="media-left">
          						<h3><a href="{{=it.feed_link}}" target="_blank">{{=it.feed_title}}</a></h3>
          						<span>{{=it.feed_time}}</span>
          						<div class="tgi-taglive"><i class="tgicon-heart"></i>{{=it.like}}<i class="tgicon-speech-bubble"></i>{{=it.reply}}</div>
          					</div>
          					<div class="fennec-text">
          						{{=it.comment_long}}
          					</div>
          					<div class="more-wrap" id="social-link" href="{{=it.feed_link}}"><i class="tgicon-ellipsis"></i></div>
          				</div>
          				<div class="si-share">
          					<span><i class="tgicon-share"></i></span>
          					<div>
          						<a href="#" class="social-icon si-borderless si-facebook" title="Facebook" ltitle="Facebook">
          							<i class="tlicon-facebook-2"></i>
          							<i class="tlicon-facebook-1"></i>
          						</a>
          						<a href="#" class="social-icon si-borderless si-twitter" title="Twitter" ltitle="Twitter">
          							<i class="tlicon-twitter-2"></i>
          							<i class="tlicon-twitter-1"></i>
          						</a>
          						<a href="#" class="social-icon si-borderless si-naverblog" title="Naver" ltitle="Naver">
          							<i class="tlicon-naverblog-2"></i>
          							<i class="tlicon-naverblog-1"></i>
          						</a>
          						<a href="#" class="social-icon si-borderless si-kakao"  title="Kakao" ltitle="Kakao">
          							<i class="tlicon-kakao-2"></i>
          							<i class="tlicon-kakao-1"></i>
          						</a>
          						<a href="#" class="social-icon si-borderless si-band" title="Band" ltitle="Band">
          							<i class="tlicon-band-2"></i>
          							<i class="tlicon-band-1"></i>
          						</a>
          						<a href="#" class="social-icon si-borderless si-naverblog" title="Line" ltitle="Line">
          							<i class="tlicon-line-2"></i>
          							<i class="tlicon-line-1"></i>
          						</a>
          					</div>
          				</div>
          			</div>
          		</div>
          	</div>

          </div>
          <!--//압축되었던 taglive.js 부분-->
          <a href="https://www.youtube.com/channel/UCOHjNte1Ef818hU22A35B_g" class="link-btn" target="_blank" title="새창으로 열림">
            <span class="text">
              <span>YouTube 바로가기</span>
            </span>
            <span class="ico ico-arrow-link-big"></span>
          </a>
        </div>
      </div>
      <div id="depth-1-6" class="section main-foot page-vertical">
        <div class="inner">
          <div class="grid-box">
            <article>
              <a href="/kr/purchase/contact">
                <h3 class="title">상담신청</h3>
                <p class="desc">지게차에 대한 자세한 안내를 받아보세요.</p>
                <div class="img-box">
                  <img src="/common/images/main/main-foot-icon2.png" alt="">
                </div>
              </a>
            </article>
            <article>
              <a href="/kr/purchase/location">
                <h3 class="title">국내 대리점 찾기</h3>
                <p class="desc">가장 가까운 대리점를 확인해 보세요. </p>
                <div class="img-box">
                  <img src="/common/images/main/main-foot-icon1.png" alt="">
                </div>
              </a>
            </article>
          </div>
        </div>
        <footer id="footer" class="footer">
        </footer>
      </div>
    </div>
  </main>
  <div class="paging-dot">
    <div class="dots">
      <a href="#a" class="" style="display: none;">
        <span></span><em>Main</em>
      </a>
      <a href="#a" class="">
        <span></span><em>Product</em>
      </a>
      <a href="#a" class="" style="display: none;">
        <span></span><em>Product</em>
      </a>
      <a href="#a" class="">
        <span></span><em>Company</em>
      </a>
      <a href="#a">
        <span></span><em>Media</em>
      </a>
    </div>
  </div>
  <div class="side-btns">
    <div class="group">
      <a href="/kr/purchase/contact" class="link-btn white">
        <span class="text">
          <span>상담신청</span>
        </span>
        <span class="ico ico-chat"></span>
      </a>
      <a href="/kr/purchase/location" class="link-btn accent">
        <span class="text">
          <span>대리점 찾기</span>
        </span>
        <span class="ico ico-pin-map"></span>
      </a>
    </div>
  </div>
</body>
<script>
  function initMainVisual() {
    const SLIDE_DURATION = 5000;
    let progressInterval;

    const paginationHtml = $('<div class="custom-pagination"></div>');
    $('.main-visual .slide').each((index, element) => {
        paginationHtml.append(`
            <div class="pagination-item ${index === 0 ? 'active' : ''}">
                <span class="number">${String(index + 1).padStart(2, '0')}</span>
                <div class="progress-bar">
                    <div class="progress"></div>
                </div>
            </div>
        `);
    });
    $('.main-visual .content-body').append(paginationHtml);

    $('.slide-container').slick({
        fade: true,
        arrows: false,
        autoplay: true,
        autoplaySpeed: SLIDE_DURATION,
        pauseOnHover: false,
        pauseOnFocus: false,
        cssEase: 'linear'
    });

    function animateText(slideIndex) {
        const currentSlide = $(`.slide:eq(${slideIndex})`);
        $('.text-wrap').removeClass('active');
        $('.text-box').removeClass('active');
        setTimeout(() => {
            currentSlide.find('.text-wrap').addClass('active');
        }, 100);
    }

    // 프로그레스바 초기화 함수
    function resetProgress() {
        clearInterval(progressInterval);
        $('.main-visual .progress').css({
            'width': '0%',
            'transition': 'none'
        });
    }

    // 프로그레스바 시작 함수
    function startProgress(index) {
        const currentProgress = $(`.main-visual .pagination-item:eq(${index}) .progress`);
        setTimeout(() => {
            currentProgress.css({
                'transition': `width ${SLIDE_DURATION}ms linear`,
                'width': '100%'
            });
        }, 10);
    }

    // 페이지네이션 클릭 이벤트
    $('.main-visual .pagination-item').on('click', function() {
        const clickedIndex = $(this).index();
        const currentIndex = $('.main-visual .slide-container').slick('slickCurrentSlide');

        // 현재 슬라이드와 클릭한 슬라이드가 다를 때만 동작
        if(clickedIndex !== currentIndex) {
            resetProgress();
            $('.main-visual .slide-container').slick('slickGoTo', clickedIndex);
        }
    });

    function handleVideoAndProgress(currentSlide) {
        // pagination active 관리
        $('.main-visual .pagination-item').removeClass('active');
        $(`.main-visual .pagination-item:eq(${currentSlide})`).addClass('active');

        // 비디오 관리
        $('video').each(function() {
            this.pause();
            this.currentTime = 0;
        });

        const currentVideo = $(`.slide:eq(${currentSlide}) video`)[0];
        if (currentVideo) {
            currentVideo.play();
        }

        // 프로그레스바 관리
        resetProgress();
        startProgress(currentSlide);

        animateText(currentSlide);
    }

    handleVideoAndProgress(0);

    $('.slide-container').on('beforeChange', function(event, slick, currentSlide, nextSlide) {
        handleVideoAndProgress(nextSlide);
    });
  }

  $(document).ready(function() {
      initMainVisual();
  });
</script>
<script>

</script>

</html>
