<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="">
  <meta name="keywords" content="전체보기 : 기타 작업장치 : 어태치먼트 : 두산밥캣코리아">
  <meta property="og:url" content="https://www.doosan-iv.com/kr/attachment/other/">
  <meta property="og:title" content="전체보기 : 기타 작업장치 : 어태치먼트 : 두산밥캣코리아">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/common/images/sns_img.jpg">
  <meta property="og:description" content="">
  <meta property="og:locale" content="ko">
  <title>전체보기 : 기타 작업장치 : 어태치먼트 : 두산밥캣코리아</title>

  <link rel="icon" href="/common/images/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/common/css/base.css">
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/common/css/sub.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="/common/js/lenis.min.js"></script>
  <script src="/common/js/scrollreveal.min.js"></script>
  <script src="/common/js/ScrollToPlugin.min.js"></script>
  <script src="/common/js/ScrollTrigger.min.js"></script>
  <script src="/common/js/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
  <script src="/common/js/gsap.min.js"></script>
  <script src="/common/js/sub.js"></script>
  <script src="/common/js/common.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src=https://www.googletagmanager.com/gtag/js?id=G-XDM39WP9N3></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XDM39WP9N3');
</script>

<body>
  <header id="header" class="header" data-header-type="white">
    <div th:replace="layout/fragments.html :: header"></div>
  </header>
  <div class="wrap sub">
    <section class="sec sec-visual">
      <div class="bg"></div>
      <div class="inner">
        <div class="flex-box">
          <div class="col sub-link-boxs">
            <ul>
              <li><a href="javascript:"><span class="hide">HOME</span><i class="ico ico-home"></i></a></li>
              <li>어태치먼트</li>
              <li class="drop">
                기타 작업장치
                <i class="ico-arrow-drop"></i>
                <ul>
                  <li><a href="/kr/attachment/fork">포크 무버</a></li>
                  <li><a href="/kr/attachment/shifter">사이드 쉬프터</a></li>
                  <li><a href="/kr/attachment/clamp">클램프</a></li>
                  <li><a href="/kr/attachment/stabilizer">로드 스태빌라이져</a></li>
                  <li><a href="/kr/attachment/hinged">힌지드 작업장치</a></li>
                  <li><a href="/kr/attachment/rotating">로테이팅 작업장치</a></li>
                  <li><a href="/kr/attachment/push">푸시 작업장치</a></li>
                  <li><a href="/kr/attachment/other">기타 작업장치</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col text-boxs">
            <h1 class="heading">기타 작업장치</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="sec sec-product">
      <div class="inner">
        <div class="product-list">
          <article class="product-item">
            <a href="/kr/attachment/other/pallet">
              <div class="text-boxs">
                <h3 class="title">1-2 팔레트 핸들러</h3>
              </div>
              <div class="img-box">
                <img src="/common/images/sub/attachment/other/attachment-thum1.png" alt="">
              </div>
              <div class="motion">
                <svg viewBox="0 0 460 610" width="100%" height="100%" preserveAspectRatio="none">
                  <rect x="1.5" y="1.5" width="457" height="607" rx="20" ry="20"
                  fill="transparent" stroke="#0458a9" stroke-width="3"/>
                </svg>
              </div>
            </a>
          </article>
          <article class="product-item">
            <a href="/kr/attachment/other/load">
              <div class="text-boxs">
                <h3 class="title">로드 익스텐더</h3>
              </div>
              <div class="img-box">
                <img src="/common/images/sub/attachment/other/attachment-thum2.png" alt="">
              </div>
              <div class="motion">
                <svg viewBox="0 0 460 610" width="100%" height="100%" preserveAspectRatio="none">
                  <rect x="1.5" y="1.5" width="457" height="607" rx="20" ry="20"
                  fill="transparent" stroke="#0458a9" stroke-width="3"/>
                </svg>
              </div>
            </a>
          </article>
          <article class="product-item">
            <a href="/kr/attachment/other/drum">
              <div class="text-boxs">
                <h3 class="title">드럼 핸들러</h3>
              </div>
              <div class="img-box">
                <img src="/common/images/sub/attachment/other/attachment-thum3.png" alt="">
              </div>
              <div class="motion">
                <svg viewBox="0 0 460 610" width="100%" height="100%" preserveAspectRatio="none">
                  <rect x="1.5" y="1.5" width="457" height="607" rx="20" ry="20"
                  fill="transparent" stroke="#0458a9" stroke-width="3"/>
                </svg>
              </div>
            </a>
          </article>
          <article class="product-item">
            <a href="/kr/attachment/other/ram">
              <div class="text-boxs">
                <h3 class="title">램 (Ram)</h3>
              </div>
              <div class="img-box">
                <img src="/common/images/sub/attachment/other/attachment-thum4.png" alt="">
              </div>
              <div class="motion">
                <svg viewBox="0 0 460 610" width="100%" height="100%" preserveAspectRatio="none">
                  <rect x="1.5" y="1.5" width="457" height="607" rx="20" ry="20"
                  fill="transparent" stroke="#0458a9" stroke-width="3"/>
                </svg>
              </div>
            </a>
          </article>
        </div>
      </div>
      <div class="side-btns sub">
        <div class="group">
          <a href="/kr/purchase/contact" class="link-btn white">
            <span class="text">
              <span>상담신청</span>
            </span>
            <span class="ico ico-chat"></span>
          </a>
          <a href="/kr/purchase/location" class="link-btn accent">
            <span class="text">
              <span>대리점 찾기</span>
            </span>
            <span class="ico ico-pin-map"></span>
          </a>
        </div>
      </div>
    </section>
    <section class="sec sec-bottom-banner">
      <div class="grid-box">
        <a href="/kr/purchase/contact" class="col left">
          <div class="text-boxs">
            <h2 class="heading">상담신청</h2>
            <p class="desc">지게차에 대한 자세한 안내를 받아보세요.</p>
          </div>
        </a>
        <a href="/kr/purchase/location" class="col right">
          <div class="text-boxs">
            <h2 class="heading">국내 대리점 찾기</h2>
            <p class="desc">가장 가까운 대리점를 확인해 보세요. </p>
          </div>
        </a>
      </div>
      <!-- <div class="inner">
      </div> -->
    </section>
  </div>
  <footer id="footer" class="footer">
          <div th:replace="layout/fragments.html :: footer"></div>
        </footer>
</html>
