<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="램 (Ram)은 긴 환봉이 부착된 구조물을 지게차의 캐리지에 포크 대신 장착하여 속이 비어있는 형태의 화물을 취급할 수 있게 하는 작업장치입니다.">
  <meta name="keywords" content="램 (Ram) : 기타 작업장치 : 어태치먼트 : 두산밥캣코리아">
  <meta property="og:url" content="https://www.doosan-iv.com/kr/attachment/other/ram">
  <meta property="og:title" content="램 (Ram) : 기타 작업장치 : 어태치먼트 : 두산밥캣코리아">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/common/images/sns_img.jpg">
  <meta property="og:description" content="램 (Ram)은 긴 환봉이 부착된 구조물을 지게차의 캐리지에 포크 대신 장착하여 속이 비어있는 형태의 화물을 취급할 수 있게 하는 작업장치입니다.">
  <meta property="og:locale" content="ko">
  <title>램 (Ram) : 기타 작업장치 : 어태치먼트 : 두산밥캣코리아</title>

  <link rel="icon" href="/common/images/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/common/css/base.css">
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/common/css/sub.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="/common/js/lenis.min.js"></script>
  <script src="/common/js/scrollreveal.min.js"></script>
  <script src="/common/js/ScrollToPlugin.min.js"></script>
  <script src="/common/js/ScrollTrigger.min.js"></script>
  <script src="/common/js/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
  <script src="/common/js/gsap.min.js"></script>
  <script src="/common/js/product.js"></script>
  <script src="/common/js/sub.js"></script>
  <script src="/common/js/common.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src=https://www.googletagmanager.com/gtag/js?id=G-XDM39WP9N3></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XDM39WP9N3');
</script>

<body>
  <header id="header" class="header">
    <div th:replace="layout/fragments.html :: header"></div>
  </header>
  <div class="wrap sub nv">
    <section class="sec sec-selector">
      <div class="content-top">
        <div class="inner large">
          <div class="flex-box">
            <div class="col sub-link-boxs basic">
              <ul>
                <li><a href="javascript:"><span class="hide">HOME</span><i class="ico ico-home"></i></a></li>
                <li>어태치먼트</li>
                <li>기타 작업장치</li>
                <li class="drop">
                  램 (Ram)
                  <i class="ico-arrow-drop"></i>
                  <ul>
                    <li><a href="/kr/attachment/other/pallet">1-2 팔레트 핸들러</a></li>
                    <li><a href="/kr/attachment/other/load">로드 익스텐더</a></li>
                    <li><a href="/kr/attachment/other/drum">드럼 핸들러</a></li>
                    <li><a href="/kr/attachment/other/ram">램 (Ram)</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col btns">
              <a href="/common/images/sub/attachment/attachment_Brochure.pdf" target="_blank" class="link-btn">
                <span class="text">
                  <span>카탈로그 다운로드</span>
                </span>
                <span class="ico ico-download"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec sec-product-view">
      <div class="product-view">
        <div class="content-top">
          <div class="col slide-wrap">
            <div class="product-sw">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/attachment/other/attachment-slide-ram.png" alt="">
                  </figure>
                </div>
              </div>
            </div>
            <div class="slide-btns">
              <div class="slide-btn button-prev"><span class="hide">이전으로</span></div>
              <div class="product-sw2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/attachment/other/attachment-slide-ram.png" alt="">
                    </figure>
                  </div>
                </div>
              </div>
              <div class="slide-btn button-next"><span class="hide">다음으로</span></div>
            </div>
          </div>
          <div class="col text-wrap">
            <div class="group">
              <div class="text-boxs">
                <h2 class="heading">램 (Ram)</h2>
                <p class="desc">
                  긴 환봉이 부착된 구조물을 지게차의 캐리지에 포크 대신 장착하여 속이 비어있는 형태의 화물을 취급할 수 있게 하는 작업장치로
                  코일(Coil), 전선 롤, 카페트 등의 취급 현장에 많이 사용됩니다.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="content-body">
          <div class="inner">
            <h2 class="heading">제원</h2>
            <div class="product-table">
              <table>
                <thead>
                  <tr>
                    <th>구분</th>
                    <th>단위</th>
                    <th>1.5/1.8톤</th>
                    <th>2/2.5톤</th>
                    <th>3/3.3톤</th>
                    <th>3.5/4톤</th>
                    <th>4.5톤</th>
                    <th>5/6/7톤</th>
                    <th>8톤</th>
                    <th>11/13톤</th>
                    <th>16톤</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>LC</td>
                    <td>mm</td>
                    <td>1750</td>
                    <td>1750</td>
                    <td>1750</td>
                    <td>600</td>
                    <td>600</td>
                    <td>600</td>
                    <td>600</td>
                    <td>600</td>
                    <td>600</td>
                  </tr>
                  <tr>
                    <td>허용하중</td>
                    <td>kg</td>
                    <td>565/670</td>
                    <td>860/1050</td>
                    <td>1280/1315</td>
                    <td>3280/3705</td>
                    <td>4120</td>
                    <td>4375/5295/6220</td>
                    <td>6715</td>
                    <td>9635/11470</td>
                    <td>13940</td>
                  </tr>
                  <tr>
                    <td>RAM (LxD)</td>
                    <td>mm</td>
                    <td>2700x70</td>
                    <td>2700x70</td>
                    <td>2700x70</td>
                    <td>1200x160</td>
                    <td>1200x160</td>
                    <td>1200x220</td>
                    <td>1320x225</td>
                    <td>1500x300</td>
                    <td>1500x350</td>
                  </tr>
                  <tr>
                    <td>프레임 폭</td>
                    <td>mm</td>
                    <td>350</td>
                    <td>350</td>
                    <td>400</td>
                    <td>500</td>
                    <td>500</td>
                    <td>600</td>
                    <td>600</td>
                    <td>650</td>
                    <td>800</td>
                  </tr>
                  <tr>
                    <td>지면과 거리</td>
                    <td>mm</td>
                    <td>280</td>
                    <td>280</td>
                    <td>330</td>
                    <td>200</td>
                    <td>300</td>
                    <td>300</td>
                    <td>353</td>
                    <td>350</td>
                    <td>350</td>
                  </tr>
                  <tr>
                    <td>무게</td>
                    <td>kg</td>
                    <td>157</td>
                    <td>157</td>
                    <td>176</td>
                    <td>214</td>
                    <td>234</td>
                    <td>367</td>
                    <td>580</td>
                    <td>580</td>
                    <td>677</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec sec-bottom-banner">
      <div class="grid-box">
        <a href="/kr/purchase/contact" class="col left">
          <div class="text-boxs">
            <h2 class="heading">상담신청</h2>
            <p class="desc">지게차에 대한 자세한 안내를 받아보세요.</p>
          </div>
        </a>
        <a href="/kr/purchase/location" class="col right">
          <div class="text-boxs">
            <h2 class="heading">국내 대리점 찾기</h2>
            <p class="desc">가장 가까운 대리점를 확인해 보세요. </p>
          </div>
        </a>
      </div>
      <!-- <div class="inner">
      </div> -->
    </section>
  </div>
  <footer id="footer" class="footer">
          <div th:replace="layout/fragments.html :: footer"></div>
        </footer>
<script>
</script>

</html>
