<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="고효율의 AC 시스템과 강인한 내구성, 편안하고 편리한 운전, 안전성의 조화! 미세먼지와 공해물질 등의 환경 문제 지역 및 작업장에서 엔진 지게차 대체가 가능한 중형 전동 좌승식 지게차 B45X-7 Series!">
  <meta name="keywords" content="4t - 5t : 전동 좌승식 지게차 : 제품 : 두산밥캣코리아">
  <meta property="og:url" content="https://www.doosan-iv.com/kr/product/electric/electric4t5t">
  <meta property="og:title" content="4t - 5t : 전동 좌승식 지게차 : 제품 : 두산밥캣코리아">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/common/images/sns_img.jpg">
  <meta property="og:description" content="고효율의 AC 시스템과 강인한 내구성, 편안하고 편리한 운전, 안전성의 조화! 미세먼지와 공해물질 등의 환경 문제 지역 및 작업장에서 엔진 지게차 대체가 가능한 중형 전동 좌승식 지게차 B45X-7 Series!">
  <meta property="og:locale" content="ko">
  <title>4t - 5t : 전동 좌승식 지게차 : 제품 : 두산밥캣코리아</title>

  <link rel="icon" href="/common/images/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/common/css/base.css">
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/common/css/sub.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="/common/js/lenis.min.js"></script>
  <script src="/common/js/scrollreveal.min.js"></script>
  <script src="/common/js/ScrollToPlugin.min.js"></script>
  <script src="/common/js/ScrollTrigger.min.js"></script>
  <script src="/common/js/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
  <script src="/common/js/gsap.min.js"></script>
  <script src="/common/js/product.js"></script>
  <script src="/common/js/sub.js"></script>
  <script src="/common/js/common.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src=https://www.googletagmanager.com/gtag/js?id=G-XDM39WP9N3></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XDM39WP9N3');
</script>

<body>
  <header id="header" class="header">
    <div th:replace="layout/fragments.html :: header"></div>
  </header>
  <div class="wrap sub nv">
    <section class="sec sec-selector">
      <div class="content-top">
        <div class="inner large">
          <div class="flex-box">
            <div class="col sub-link-boxs basic">
              <ul>
                <li><a href="javascript:"><span class="hide">HOME</span><i class="ico ico-home"></i></a></li>
                <li>제품</li>
                <li>전동 좌승식 지게차</li>
                <li class="drop">
                  4t - 5t
                  <i class="ico-arrow-drop"></i>
                  <ul>
                    <li><a href="/kr/product/electric/electric15t2t-three">1.5t - 2t, 3륜</a></li>
                    <li><a href="/kr/product/electric/electric1518t">1.5 - 1.8t</a></li>
                    <li><a href="/kr/product/electric/electric16t2t">1.6t - 2t, 저상고</a></li>
                    <li><a href="/kr/product/electric/electric15t2t-row">1.5t - 2t, 보급형</a></li>
                    <li><a href="/kr/product/electric/electric2t35t">2t - 3.5t</a></li>
                    <li><a href="/kr/product/electric/electric2t35t-row">2t - 3.5t, 보급형</a></li>
                    <li><a href="/kr/product/electric/electric2t25t">2t - 2.5t, 경제형</a></li>
                    <li><a href="/kr/product/electric/electric2t3t">2t - 3t, 쿠션 타이어</a></li>
                    <li><a href="/kr/product/electric/electric4t5t">4t - 5t</a></li>
                    <li><a href="/kr/product/electric">전체보기</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col btns">
              <a href="/common/images/sub/product/electric/B45X-7_Brochure.pdf" target="_blank" class="link-btn">
                <span class="text">
                  <span>카탈로그 다운로드</span>
                </span>
                <span class="ico ico-download"></span>
              </a>
              <a href="/common/images/sub/product/electric/B40,45,50X-7,B50XC-7_SB2470C04_BK.pdf" target="_blank" class="link-btn">
                <span class="text">
                  <span>메뉴얼 다운로드</span>
                </span>
                <span class="ico ico-download"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec sec-product-view">
      <div class="product-view">
        <div class="content-top">
          <div class="col slide-wrap">
            <div class="product-sw">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/electric/product-slide-4t5t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/electric/product-slide2-4t5t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/electric/product-slide3-4t5t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/electric/product-slide4-4t5t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/electric/product-slide5-4t5t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/electric/product-slide6-4t5t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/electric/product-slide7-4t5t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/electric/product-slide8-4t5t.png" alt="">
                  </figure>
                </div>
                <div class="swiper-slide">
                  <figure>
                    <img src="/common/images/sub/product/electric/product-slide9-4t5t.png" alt="">
                  </figure>
                </div>
              </div>
            </div>
            <div class="slide-btns">
              <div class="slide-btn button-prev"><span class="hide">이전으로</span></div>
              <div class="product-sw2">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/electric/product-slide-4t5t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/electric/product-slide2-4t5t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/electric/product-slide3-4t5t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/electric/product-slide4-4t5t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/electric/product-slide5-4t5t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/electric/product-slide6-4t5t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/electric/product-slide7-4t5t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/electric/product-slide8-4t5t.png" alt="">
                    </figure>
                  </div>
                  <div class="swiper-slide">
                    <figure>
                      <img src="/common/images/sub/product/electric/product-slide9-4t5t.png" alt="">
                    </figure>
                  </div>
                </div>
              </div>
              <div class="slide-btn button-next"><span class="hide">다음으로</span></div>
            </div>
          </div>
          <div class="col text-wrap">
            <div class="group">
              <div class="text-boxs">
                <h2 class="heading">4t - 5t</h2>
                <p class="text">B40X-7, B45X-7, B50X-7</p>
                <p class="desc">
                  고효율의 AC 시스템과 강인한 내구성, 편안하고 편리한 운전, 안전성의 조화! <br class="pc">
                  미세먼지와 공해물질 등의 환경 문제 지역 및 작업장에서 엔진 지게차 대체가 가능한 중형 전동 좌승식 지게차 B45X-7 시리즈!
                </p>
              </div>
              <ul class="list">
                <li>
                  <div class="title">
                    <span class="icon ton"></span>
                    적재 능력 (ton)
                  </div>
                  <div class="value">
                    4.0 - 5.0
                  </div>
                </li>
                <li>
                  <div class="title">
                    <span class="icon ps"></span>
                    배터리전압 (V)
                  </div>
                  <div class="value">
                    80
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="content-body">
          <div class="inner">
            <h2 class="heading">제원</h2>
            <div class="product-table">
              <table>
                <thead>
                  <tr>
                    <th>사양</th>
                    <th>단위</th>
                    <th>B40X-7</th>
                    <th>B45X-7</th>
                    <th>B50X-7</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>동력형식</td>
                    <td></td>
                    <td>AC전기</td>
                    <td>AC전기</td>
                    <td>AC전기</td>
                  </tr>
                  <tr>
                    <td>작동방식</td>
                    <td></td>
                    <td>좌승식</td>
                    <td>좌승식</td>
                    <td>좌승식</td>
                  </tr>
                  <tr>
                    <td>적재능력</td>
                    <td>kg</td>
                    <td>4,000</td>
                    <td>4,500</td>
                    <td>5,000</td>
                  </tr>
                  <tr>
                    <td>하중중심</td>
                    <td>mm</td>
                    <td>500</td>
                    <td>500</td>
                    <td>500</td>
                  </tr>
                  <tr>
                    <td>총중량</td>
                    <td>kg</td>
                    <td>6,968</td>
                    <td>7,383</td>
                    <td>7,705</td>
                  </tr>
                  <tr>
                    <td>최대인상 높이</td>
                    <td>mm</td>
                    <td>3,000</td>
                    <td>3,000</td>
                    <td>3,000</td>
                  </tr>
                  <tr>
                    <td>헤드가드 높이</td>
                    <td>mm</td>
                    <td>2,345</td>
                    <td>2,350</td>
                    <td>2,350</td>
                  </tr>
                  <tr>
                    <td>주행속도 (부하)</td>
                    <td>km/h</td>
                    <td>15</td>
                    <td>15</td>
                    <td>15</td>
                  </tr>
                  <tr>
                    <td>주행속도 (무부하)</td>
                    <td>km/h</td>
                    <td>16</td>
                    <td>16</td>
                    <td>16</td>
                  </tr>
                  <tr>
                    <td>등판능력 (부하)</td>
                    <td>% (도)</td>
                    <td>17 (9.6)</td>
                    <td>16 (9.1)</td>
                    <td>15 (8.5)</td>
                  </tr>
                  <tr>
                    <td>등판능력 (무부하)</td>
                    <td>% (도)</td>
                    <td>27 (15.1)</td>
                    <td>26 (14.6)</td>
                    <td>25 (14.0)</td>
                  </tr>
                  <tr>
                    <td>배터리 전압</td>
                    <td>V</td>
                    <td>80</td>
                    <td>80</td>
                    <td>80</td>
                  </tr>
                  <tr>
                    <td>배터리 용량</td>
                    <td>AH</td>
                    <td>930</td>
                    <td>930</td>
                    <td>930</td>
                  </tr>
                  <tr>
                    <td>주행모터 출력 (1시간율)</td>
                    <td>kW</td>
                    <td>10 x 2</td>
                    <td>10 x 2</td>
                    <td>10 x 2</td>
                  </tr>
                  <tr>
                    <td>유압모터 출력 (15% Duty)</td>
                    <td>kW</td>
                    <td>28</td>
                    <td>28</td>
                    <td>28                </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="sec sec-bottom-banner">
      <div class="grid-box">
        <a href="/kr/purchase/contact" class="col left">
          <div class="text-boxs">
            <h2 class="heading">상담신청</h2>
            <p class="desc">지게차에 대한 자세한 안내를 받아보세요.</p>
          </div>
        </a>
        <a href="/kr/purchase/location" class="col right">
          <div class="text-boxs">
            <h2 class="heading">국내 대리점 찾기</h2>
            <p class="desc">가장 가까운 대리점를 확인해 보세요. </p>
          </div>
        </a>
      </div>
      <!-- <div class="inner">
      </div> -->
    </section>
  </div>
  <footer id="footer" class="footer">
          <div th:replace="layout/fragments.html :: footer"></div>
        </footer>
<script>
</script>

</html>
