<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="description" content="두산밥캣코리아는 3톤 지게차, 3톤 미만 지게차 뿐만 아니라 다양한 전동 지게차, 리튬 지게차, 전기 지게차 등을 제공하는 모든 실내외 물류현장의 효율적인 파트너입니다.">
  <meta name="keywords" content="전체보기 : 전동 좌승식 지게차 : 제품 : 두산밥캣코리아">
  <meta property="og:url" content="https://www.doosan-iv.com/kr/product/electric/">
  <meta property="og:title" content="전체보기 : 전동 좌승식 지게차 : 제품 : 두산밥캣코리아">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/common/images/sns_img.jpg">
  <meta property="og:description" content="두산밥캣코리아는 3톤 지게차, 3톤 미만 지게차 뿐만 아니라 다양한 전동 지게차, 리튬 지게차, 전기 지게차 등을 제공하는 모든 실내외 물류현장의 효율적인 파트너입니다.">
  <meta property="og:locale" content="ko">
  <title>전체보기 : 전동 좌승식 지게차 : 제품 : 두산밥캣코리아</title>

  <link rel="icon" href="/common/images/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="/common/css/base.css">
  <link rel="stylesheet" href="/common/css/common.css">
  <link rel="stylesheet" href="/common/css/sub.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="/common/js/lenis.min.js"></script>
  <script src="/common/js/scrollreveal.min.js"></script>
  <script src="/common/js/ScrollToPlugin.min.js"></script>
  <script src="/common/js/ScrollTrigger.min.js"></script>
  <script src="/common/js/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
  <script src="/common/js/gsap.min.js"></script>
  <script src="/common/js/sub.js"></script>
  <script src="/common/js/common.js"></script>
</head>
<!-- Google tag (gtag.js) -->
<script async src=https://www.googletagmanager.com/gtag/js?id=G-XDM39WP9N3></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-XDM39WP9N3');
</script>

<body>
  <header id="header" class="header" data-header-type="white">
    <div th:replace="layout/fragments.html :: header"></div>
  </header>
  <div class="wrap sub">
    <section class="sec sec-visual electric">
      <div class="bg"></div>
      <div class="inner">
        <div class="flex-box">
          <div class="col sub-link-boxs">
            <ul>
              <li><a href="javascript:"><span class="hide">HOME</span><i class="ico ico-home"></i></a></li>
              <li>제품</li>
              <li class="drop">
                전동 좌승식 지게차
                <i class="ico-arrow-drop"></i>
                <ul>
                  <li><a href="/kr/product/diesel">디젤 지게차</a></li>
                  <li><a href="/kr/product/lpg">LPG 지게차</a></li>
                  <li><a href="/kr/product/electric">전동 좌승식 지게차</a></li>
                  <li><a href="/kr/product/stacker">전동 입승식 지게차</a></li>
                  <li><a href="/kr/product/equipments">소형 창고 물류장비</a></li>
                  <li><a href="/kr/product/eco">친환경/디지털 제품</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col text-boxs">
            <h1 class="heading">전동 좌승식 지게차</h1>
            <p class="text">
              무공해 무소음, 높은 에너지 효율과 뛰어난 작업 성능, 저렴한 유지비의 <br class="pc">
              두산밥캣 전동 좌승식 지게차는 모든 실내외 물류현장의 효율적인 파트너 입니다.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="sec sec-product">
      <div class="inner">
        <div class="product-list">
          <article class="product-item">
            <a href="/kr/product/electric/electric15t2t-three">
              <div class="text-boxs">
                <h3 class="title">1.5t - 2t, 3륜</h3>
                <p class="desc">B15T-7 PLUS, B18T-7 PLUS, B20T-7 PLUS</p>
              </div>
              <div class="img-box">
                <img src="/common/images/sub/product/electric/product-thum1.png" alt="">
              </div>
              <div class="motion">
                <svg viewBox="0 0 460 610" width="100%" height="100%" preserveAspectRatio="none">
                  <rect x="1.5" y="1.5" width="457" height="607" rx="20" ry="20"
                  fill="transparent" stroke="#0458a9" stroke-width="3"/>
                </svg>
              </div>
            </a>
          </article>
          <article class="product-item">
            <a href="/kr/product/electric/electric1518t">
              <div class="text-boxs">
                <h3 class="title">1.5 - 1.8t</h3>
                <p class="desc">B15S-7, B18S-7</p>
              </div>
              <div class="img-box">
                <img src="/common/images/sub/product/electric/product-thum2.png" alt="">
              </div>
              <div class="motion">
                <svg viewBox="0 0 460 610" width="100%" height="100%" preserveAspectRatio="none">
                  <rect x="1.5" y="1.5" width="457" height="607" rx="20" ry="20"
                  fill="transparent" stroke="#0458a9" stroke-width="3"/>
                </svg>
              </div>
            </a>
          </article>
          <article class="product-item">
            <a href="/kr/product/electric/electric16t2t">
              <div class="text-boxs">
                <h3 class="title">1.6t - 2t, 저상고</h3>
                <p class="desc">B16X-7 PLUS, B18X-7 PLUS, B20X-7 PLUS</p>
              </div>
              <div class="img-box">
                <img src="/common/images/sub/product/electric/product-thum3.png" alt="">
              </div>
              <div class="motion">
                <svg viewBox="0 0 460 610" width="100%" height="100%" preserveAspectRatio="none">
                  <rect x="1.5" y="1.5" width="457" height="607" rx="20" ry="20"
                  fill="transparent" stroke="#0458a9" stroke-width="3"/>
                </svg>
              </div>
            </a>
          </article>
          <article class="product-item">
            <a href="/kr/product/electric/electric15t2t-row">
              <div class="text-boxs">
                <h3 class="title">1.5t - 2t, 보급형</h3>
                <p class="desc">B15NS, B18NS, B20NSC</p>
              </div>
              <div class="img-box">
                <img src="/common/images/sub/product/electric/product-thum4.png" alt="">
              </div>
              <div class="motion">
                <svg viewBox="0 0 460 610" width="100%" height="100%" preserveAspectRatio="none">
                  <rect x="1.5" y="1.5" width="457" height="607" rx="20" ry="20"
                  fill="transparent" stroke="#0458a9" stroke-width="3"/>
                </svg>
              </div>
            </a>
          </article>
          <article class="product-item">
            <a href="/kr/product/electric/electric2t35t">
              <div class="text-boxs">
                <h3 class="title">2t - 3.5t</h3>
                <p class="desc">B20S-7, B25S-7, B30S-7, B32S-7, B35S-7</p>
              </div>
              <div class="img-box">
                <img src="/common/images/sub/product/electric/product-thum5.png" alt="">
              </div>
              <div class="motion">
                <svg viewBox="0 0 460 610" width="100%" height="100%" preserveAspectRatio="none">
                  <rect x="1.5" y="1.5" width="457" height="607" rx="20" ry="20"
                  fill="transparent" stroke="#0458a9" stroke-width="3"/>
                </svg>
              </div>
            </a>
          </article>
          <article class="product-item">
            <a href="/kr/product/electric/electric2t35t-row">
              <div class="text-boxs">
                <h3 class="title">2t - 3.5t, 보급형</h3>
                <p class="desc">B20NS, B25NS, B30NS, B35NS</p>
              </div>
              <div class="img-box">
                <img src="/common/images/sub/product/electric/product-thum6.png" alt="">
              </div>
              <div class="motion">
                <svg viewBox="0 0 460 610" width="100%" height="100%" preserveAspectRatio="none">
                  <rect x="1.5" y="1.5" width="457" height="607" rx="20" ry="20"
                  fill="transparent" stroke="#0458a9" stroke-width="3"/>
                </svg>
              </div>
            </a>
          </article>
          <article class="product-item">
            <a href="/kr/product/electric/electric2t25t">
              <div class="text-boxs">
                <h3 class="title">2t - 2.5t, 경제형</h3>
                <p class="desc">B20SE-7, B25SE-7</p>
              </div>
              <div class="img-box">
                <img src="/common/images/sub/product/electric/product-thum7.png" alt="">
              </div>
              <div class="motion">
                <svg viewBox="0 0 460 610" width="100%" height="100%" preserveAspectRatio="none">
                  <rect x="1.5" y="1.5" width="457" height="607" rx="20" ry="20"
                  fill="transparent" stroke="#0458a9" stroke-width="3"/>
                </svg>
              </div>
            </a>
          </article>
          <article class="product-item">
            <a href="/kr/product/electric/electric2t3t">
              <div class="text-boxs">
                <h3 class="title">2t - 3t, 쿠션 타이어</h3>
                <p class="desc">BC20S-7, BC25S-7, BC30S-7</p>
              </div>
              <div class="img-box">
                <img src="/common/images/sub/product/electric/product-thum8.png" alt="">
              </div>
              <div class="motion">
                <svg viewBox="0 0 460 610" width="100%" height="100%" preserveAspectRatio="none">
                  <rect x="1.5" y="1.5" width="457" height="607" rx="20" ry="20"
                  fill="transparent" stroke="#0458a9" stroke-width="3"/>
                </svg>
              </div>
            </a>
          </article>
          <article class="product-item">
            <a href="/kr/product/electric/electric4t5t">
              <div class="text-boxs">
                <h3 class="title">4t - 5t</h3>
                <p class="desc">B40X-7, B45X-7, B50X-7</p>
              </div>
              <div class="img-box">
                <img src="/common/images/sub/product/electric/product-thum9.png" alt="">
              </div>
              <div class="motion">
                <svg viewBox="0 0 460 610" width="100%" height="100%" preserveAspectRatio="none">
                  <rect x="1.5" y="1.5" width="457" height="607" rx="20" ry="20"
                  fill="transparent" stroke="#0458a9" stroke-width="3"/>
                </svg>
              </div>
            </a>
          </article>
        </div>
      </div>
      <div class="side-btns sub">
        <div class="group">
          <a href="/kr/purchase/contact" class="link-btn white">
            <span class="text">
              <span>상담신청</span>
            </span>
            <span class="ico ico-chat"></span>
          </a>
          <a href="/kr/purchase/location" class="link-btn accent">
            <span class="text">
              <span>대리점 찾기</span>
            </span>
            <span class="ico ico-pin-map"></span>
          </a>
        </div>
      </div>
    </section>
    <section class="sec sec-bottom-banner">
    <div class="grid-box">
      <a href="/kr/purchase/contact" class="col left">
        <div class="text-boxs">
          <h2 class="heading">상담신청</h2>
          <p class="desc">지게차에 대한 자세한 안내를 받아보세요.</p>
        </div>
      </a>
      <a href="/kr/purchase/location" class="col right">
        <div class="text-boxs">
          <h2 class="heading">국내 대리점 찾기</h2>
          <p class="desc">가장 가까운 대리점를 확인해 보세요. </p>
        </div>
      </a>
    </div>
    <!-- <div class="inner">
    </div> -->
  </section>
  </div>
  <footer id="footer" class="footer">
          <div th:replace="layout/fragments.html :: footer"></div>
        </footer>
</html>
